{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block title %}افزودن محصول{% endblock %}
{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

        <div class="row">
            <div class="col-md-6">
                {{ form.title | as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.slug | as_crispy_field }}
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                {{ form.category | as_crispy_field }}

            </div>
            <div class="col-6">

                {{ form.variant | as_crispy_field }}
                {{ form.image | as_crispy_field }}


            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form.description | as_crispy_field }}

            </div>
            <div class="col-6">
                {{ form.keywords | as_crispy_field }}

            </div>
        </div>
        {{ form.detail | as_crispy_field }}
        <div class="row">
            <div class="col-3">
                {{ form.status | as_crispy_field }}
                {% if user.is_superuser %}
                    {{ form.creator | as_crispy_field }}

                {% endif %}
            </div>
            <div class="col-3">
                {{ form.price | as_crispy_field }}

            </div>
            <div class="col-3">
                {{ form.amount | as_crispy_field }}

            </div>
            <div class="col-3">
                {{ form.minamount | as_crispy_field }}

            </div>
        </div>

{#        <div class="row">#}
{#            <div class="col-4">#}
{#                {{ inlines.0.0 | crispy }}#}
{##}
{#            </div>#}
{#            <div class="col-4">#}
{#                {{ inlines.0.1 | crispy }}#}
{##}
{#            </div>#}
{#            <div class="col-4">#}
{#                {{ inlines.0.2 | crispy }}#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="col-4">#}
{#                {{ inlines.1.0 | crispy }}#}
{##}
{#            </div>#}
{#            <div class="col-4">#}
{#                {{ inlines.1.1 | crispy }}#}
{##}
{#            </div>#}
{#            <div class="col-4">#}
{#                {{ inlines.1.2 | crispy }}#}
{##}
{#            </div>#}
{##}
{#        </div>#}

    {% for form in inlines %}
        {{ form|crispy }}
    {% endfor %}

        <button class="btn btn-success">ثبت محصول</button>
    </form>
{% endblock %}