{% load static %}
{% load humanize %}
{% load custom_tags %}
{% website_info as info %}

<main class="main">


    {% if popular_products|length > 6 %}
        {#    most view products #}
        <section class="recommendation lazy">
            <div class="container">
                <div class="products-suggestion">

                    <div class="title-wrap">
                        <h2 class="title">
                            <a href="#" target="_self">
                                پربازدیدترین‌ها
                            </a>
                        </h2>
                    </div>
                    <div class="products">
                        <div class="sliderousel carousel sliderousel-enabled is-draggable" tabindex="0">
                            {% for pmv in popular_products %}
                                <article class="item"
                                         style="position: absolute; left: 0%;">
                                    <a href="{% url 'product:product_details' pmv.id pmv.slug %}">
                                        <div class="cover">
                                            <figure>
                                                <img src="{{ pmv.image.url }}"
                                                     title="{{ pmv.title }}"
                                                     alt="{{ pmv.title }}"
                                                     class="rounded">

                                                <img src="{{ pmv.image.url }}"
                                                     title="{{ pmv.title }}" alt="{{ pmv.title }}"
                                                     class="null loaded rounded">

                                            </figure>
                                        </div>
                                        <div class="content">
                                            <span class="brandname" itemprop="brand"></span>
                                            <h3>{{ pmv.title }}</h3>
                                            <div class="price" itemprop="offers" itemscope=""
                                                 itemtype="http://schema.org/Offer">
                                                <p>{{ pmv.price | intcomma:False }}تومان
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    <section id="membership">
        <div class="container">
            <section id="telegram" style=background-image:url(%27/{% static '' %}images/Home/home99/app9907.html)>
                <a href="application.html" target="_blank">
                    <div class="title-wrap">
                        <h2><i class="icon-telegram"></i>کد تخفیف 25000 تومانی<br>ویژه خرید از اپلیکیشن مدیسه</h2>
                        <h5></h5>
                    </div>
                    <span class="btn small">
                        دانلود و نصب
                    </span>
                </a>
            </section>
            <section id="newsletter"
                     style=background-image:url(%27/{% static '' %}images/Home/home99/newsletter9907.html)>
                <div class="title-wrap">
                    <h2><i class="icon-mail"></i>عضویت در خبرنامه مدیسه<!--EndFragment--></h2>
                    <h5></h5>
                </div>
                <form action="https://www.modiseh.com/newsletter/subscribe" method="post">
                    <input name="__RequestVerificationToken" type="hidden"
                           value="hu9DQ73iMX-fjnfSrpw4dbL_jIvQRBZfQp-UH4osnB2wIGYjydLxKWKToI3NOA32I5EqpLADNh7-abn24t5Z9WnMJ6g1"/>
                    <input Name="Email" data-val="true" data-val-length="ایمـیل نمی‌تواند طولانی‌تر از 80 کاراکتر باشد."
                           data-val-length-max="80" data-val-regex="ایمـیل نامعتبر است"
                           data-val-regex-pattern="^\s*(((?!\.)[a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9\-]+\.)+([a-zA-Z]{2,}))\s*$"
                           data-val-required="ایمـیل اجباری است." id="Email" name="Content.item.formModel.Email"
                           placeholder="ایمیل خود را اینجا وارد کنید" type="text" value=""/>
                    <button class="btn" name="Gender" value="Female" type="submit">زن</button>

                    <button class="btn" name="Gender" value="Male" type="submit">مرد</button>

                    <input id="Source" name="Source" type="hidden" value=""/>
                </form>
            </section>
        </div>
    </section>
    <section id="banner" class="lazy">
        <div class="container">
            <div id="grid">
                <article class="article row2 col2">
                    <a href="landing-apparels-menba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/men9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">لباس مردانه</h4>
                                <p><!--StartFragment-->پوشاک<br>کیف و کفش<br>اکسسوری<br>و ...<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row2 col1">
                    <a href="haftba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/super-market/tile-7.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading"></h4>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row1 col2">
                    <a href="landing-kids-and-teensba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/kids-9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">لباس کودک</h4>
                                <p><!--StartFragment-->اکسسوری<br>کیف و کفش<br>اکسسوری<br>و...<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row2 col2">
                    <a href="landing-apparels-womenba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/women9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">لباس زنانه</h4>
                                <p><!--StartFragment-->پوشاک<br>کیف و کفش<br>اکسسوری<br>و ...<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row1 col1">
                    <a href="landing-homewareba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/home9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">لوازم منزل</h4>
                                <p><!--StartFragment-->Home&amp;You<br>Vintage<br>Tati<br>و...<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row2 col1">
                    <a href="supermarketba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/super-market/1.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading"></h4>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row1 col1">
                    <a href="landing-bookba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/book9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">کتاب</h4>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row1 col2">
                    <a href="stationaryba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/stationary9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">لوازم التحریر</h4>
                                <p><!--StartFragment-->کیف و کوله<br>لوازم نوشتاری<br>و...<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row2 col2">
                    <a href="landing-electronicba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/electronic9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">الکترونیک</h4>
                                <p><!--StartFragment-->گوشی موبایل<br>کیف و کاور موبایل<br>محافظ صفحه نمایش<br>بند
                                    ساعت<br>و...<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row2 col1">
                    <a href="beautyba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/make-up9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading">لوازم آرایش</h4>
                                <p><!--StartFragment-->Essence<br>Callista<br>Miot<br>و...<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="article row2 col1">
                    <a href="art-shopba1f.html?promo=Inbound" target="_self">
                        <figure>
                            <img src="#" alt="مشاهده و خرید" title=""
                                 data-src="{% static '' %}images/Home/home99/artshop9907.jpg"/>

                        </figure>
                        <div class="overlay">
                            <div class="content black top text-right">
                                <h4 class="heading"><!--StartFragment-->آرت شاپ<!--EndFragment--></h4>
                                <p><!--StartFragment-->آثار طراحان ایرانی<!--EndFragment--></p>
                            </div>
                        </div>
                    </a>
                </article>

            </div>
        </div>
    </section>

    <section id="support">
        <div id="start" class="container">
            <div class="grid">
                <article><a href="loyalty.html" draggable="false"><i class="icon-money"></i>
                    <div class="content"><h6>دریافت امتیاز با هر سفارش</h6>
                        <p>برای خریدهای بعدی</p></div>
                </a></article>
                <article><a
                        href="%d8%b4%d8%b1%d8%a7%db%8c%d8%b7-%d8%aa%d8%b9%d9%88%db%8c%d8%b6-%d9%88-%db%8c%d8%a7-%d8%a8%d8%b1%da%af%d8%b4%d8%aa-%da%a9%d8%a7%d9%84%d8%a7.html"
                        draggable="false"><i class="icon-shopping_bag_full"></i>
                    <div class="content"><h6>بازگشت و تعویض سایز رایگان کالا</h6>
                        <p>تا 7 روز به هر دلیل</p></div>
                </a></article>
                <article><a
                        href="%d8%b4%d8%b1%d8%a7%db%8c%d8%b7-%d8%aa%d8%ad%d9%88%db%8c%d9%84-%da%a9%d8%a7%d9%84%d8%a7.html"
                        draggable="false"><i class="icon-moving_truck"></i>
                    <div class="content"><h6>ارسال اکسپرس</h6>
                        <p>سوپرمارکت در تهران</p></div>
                </a></article>
                <article><a
                        href="%d8%aa%d8%b6%d9%85%db%8c%d9%86-%d8%a7%d8%b5%d8%a7%d9%84%d8%aa-%da%a9%d8%a7%d9%84%d8%a7.html"
                        draggable="false"><i class="icon-scroll2"></i>
                    <div class="content"><h6>فقط کالاهای اصل</h6>
                        <p>همراه با گارانتی معتبر</p></div>
                </a></article>
            </div>
        </div>
    </section>
    <section class="presentation">
        <article class="article">
            <a href="deco-ecoba1f.html?promo=Inbound" target="_self">
                <figure class="black">
                    <img src="{% static '' %}images/Home/home99/deco-eco.jpg" alt="خرید اینترنتی نرم کننده مو، رنگ مو">
                </figure>
            </a>
        </article>
        <article class="article">
            <a href="david-jonesba1f.html?promo=Inbound" target="_self">
                <figure class="black">
                    <img src="{% static '' %}images/Home/home99/david-jones.jpg" alt="خرید اینترنتی لوازم خانه">
                </figure>
            </a>
        </article>
        <article class="article">
            <a href="callistaba1f.html?promo=Inbound" target="_self">
                <figure class="black">
                    <img src="{% static '' %}images/Home/home99/callista.jpg" alt="خرید اینترنتی کفش ورزشی">
                </figure>
            </a>
        </article>
        <article class="article">
            <a href="borcelloba1f.html?promo=Inbound" target="_self">
                <figure class="black">
                    <img src="{% static '' %}images/Home/home99/borcello.jpg" alt="خرید اینترنتی لباس زیر زنانه">
                </figure>
            </a>
        </article>
    </section>

    <section id="brands">
        <div class="container">
            <!-- <div class="title-wrap"><h2 class="title"><a href="https://www.modiseh.com/brands">برترین برندهای مدیسه - مشاهده همه برندها</a></h2></div> -->
            <ul class="elements">
                <li><a draggable="false" href="dorsa-landing.html"><img alt="خرید اینترنتی لباس" class="fr-dii fr-fin"
                                                                        draggable="false"
                                                                        src="{% static '' %}images/logo/brands/3.dorsa.png"></a>
                </li>
                <li><a draggable="false" href="nbb.html"><img alt="فروشگاه آنلاین لباس" class="fr-fin fr-dii"
                                                              draggable="false"
                                                              src="{% static '' %}images/logo/brands/3.nbb.png"></a>
                </li>
                <li><a draggable="false" href="artman.html"><img alt="dorsa" class="fr-dii fr-fin" draggable="false"
                                                                 src="{% static '' %}images/logo/brands/3.artman.png"></a>
                </li>
                <li><a draggable="false" href="orez.html"><img alt="خرید کیف و کفش چرم" class="fr-dii fr-fin"
                                                               draggable="false"
                                                               src="{% static '' %}images/logo/brands/3.orez.png"></a>
                </li>
                <li><a draggable="false" href="tati-2.html"><img alt="خرید لوازم منزل و دکوری" class="fr-dii fr-fin"
                                                                 draggable="false"
                                                                 src="{% static '' %}images/logo/brands/3.tati.png"></a>
                </li>
                <li><a draggable="false" href="vichy.html"><img alt="خرید لباس" class="fr-dii fr-fin" draggable="false"
                                                                src="{% static '' %}images/logo/brands/3.vichy.png"></a>
                </li>
                <li><a draggable="false" href="lancaster.html"><img alt="خرید اینترنتی لباس مردانه"
                                                                    class="fr-dii fr-fin" draggable="false"
                                                                    src="{% static '' %}images/logo/brands/3.lancaster.png"></a>
                </li>
                <li><a draggable="false" href="Zi-2.html"><img alt="خرید اینترنتی لوازم آرایش" class="fr-dii fr-fin"
                                                               draggable="false"
                                                               src="{% static '' %}images/logo/brands/zi.png"></a>
                </li>
                <li><a draggable="false" href="time-force.html"><img alt="فروشگاه آنلاین لباس" class="fr-dii fr-fin"
                                                                     draggable="false"
                                                                     src="{% static '' %}images/logo/brands/time%20force.png"></a>
                </li>
                <li><a draggable="false" href="%d9%88%db%8c%d9%85%d8%a7%d9%86%d8%a7-2.html"><img alt="خرید لباس"
                                                                                                 class="fr-dii fr-fin"
                                                                                                 draggable="false"
                                                                                                 src="{% static '' %}images/logo/brands/3.vimana.png"></a>
                </li>
            </ul>
        </div>
    </section>
    <aside id="sidebar">
        <div class="container">
            <div class="grid lazy">
                <section class="blog">
                    <div class="title-wrap side"><a href="http://blog.modiseh.com/" target="_blank" draggable="false">
                        <h4 class="title">بلاگ مدیســه</h4></a></div>
                    <article><a
                            href="blog/%da%a9%d8%af%d8%a7%d9%85-%da%a9%db%8c%d9%81-%d8%a8%d8%b1%d8%a7%db%8c-%da%a9%d8%af%d8%a7%d9%85-%d9%85%d9%88%d9%82%d8%b9%db%8c%d8%aa-%d9%85%d9%86%d8%a7%d8%b3%d8%a8-%d8%a7%d8%b3%d8%aa%d8%9f/index.html"
                            target="_blank" draggable="false">
                        <figure><img data-src="/blog/wp-content/uploads/2020/11/cover-21.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>کدام کیف برای کدام موقعیت مناسب است؟</h5>
                            <div class="price"><p>آيا هر خانم به بيش از يك كيف نياز دارد؟ قطعا همينطور است! شما براي هر
                                موقعيتي به كيف مناسب همان موقعيت نياز داريد! تصور کنید که با کیف کلاچ سر کلاس‌هایتان
                                حاضر شوید یا با کوله‌پشتی در مجلس...</p></div>
                        </div>
                    </a></article>
                    <article><a href="blog/%d8%ae%d8%b1%db%8c%d8%af-%d9%84%d8%a8%d8%a7%d8%b3/index.html" target="_blank"
                                draggable="false">
                        <figure><img data-src="/blog/wp-content/uploads/2020/11/cover-2.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>نکاتی برای این که از خرید لباس خود راضی باشیم!</h5>
                            <div class="price"><p>خرید کردن از سرگرمی‌های لذت‌بخش برای بسیاری از ما است؛ اما انتخاب و
                                خرید لباس های مناسبی که به سادگی خراب نشوند کار ساده‌ای نیست. در این مطلب نکاتی را با
                                یکدیگر مرور می‌کنیم که به ما کمک می‌کنند تا بتوانیم لذت خرید لباس...</p></div>
                        </div>
                    </a></article>
                    <article><a
                            href="blog/%d8%af%da%a9%d9%88%d8%b1%d8%a7%d8%b3%db%8c%d9%88%d9%86-%d8%ad%d9%85%d8%a7%d9%85/index.html"
                            target="_blank" draggable="false">
                        <figure><img data-src="/blog/wp-content/uploads/2020/11/cover12.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>۴ ایده برای تغییر دکوراسیون حمام</h5>
                            <div class="price"><p>حمام از نقاط مهم در خانه است. در ابتدای صبح، هنگامی که خود را برای
                                شروع یک روز طولانی آماده می‌کنیم و در پایان روز که به دقایقی آرامش‌بخش احتیاج داریم تا
                                بتوانیم خستگی و استرس روز را از خود دور کنیم، اوقات خود را...</p></div>
                        </div>
                    </a></article>
                </section>
                <section class="help">
                    <div class="title-wrap side"><h4 class="title">راهنمای خرید</h4></div>
                    <article><a
                            href="%d8%b4%d8%b1%d8%a7%db%8c%d8%b7-%d8%aa%d8%ad%d9%88%db%8c%d9%84-%da%a9%d8%a7%d9%84%d8%a7.html"
                            draggable="false">
                        <figure><img data-src="" alt="" class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><br></div>
                    </a></article>
                    <article><a
                            href="%d8%b4%d8%b1%d8%a7%db%8c%d8%b7-%d8%aa%d8%ad%d9%88%db%8c%d9%84-%da%a9%d8%a7%d9%84%d8%a7.html"
                            draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-off-free-delivery..jpg"
                                     alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>برای سفارش‌های بیش از 300هزار تومان</h5>
                            <p>شما میتوانید با ثبت سفارش خود در روزهای تعطیل و غیر تعطیل از تحویل رایگان مدیسه به ازای
                                سفارش‌های بالای 300 هزار تومان بهره مند شوید.</p></div>
                    </a></article>
                    <article><a href="backstage.html" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-warehouse.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>پشت صحنه مدیسه</h5>
                            <p>شما شاید فقط کالایی را در وب‌سایت مدیسه ببینید، بپسندید و خرید کنید. اما در حقیقت پشت
                                صحنه‌ی وب‌سایت مدیسه و ... </p></div>
                    </a></article>
                    <article><a href="voucher-help.html" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-off-code.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>راهنمای استفاده از کد تخفیف مدیسه</h5>
                            <p>در صورتی که میخواهید از کد تخفیف در سایت استفاده کنید میتوانید صفحه راهنمای کد تخفیف را
                                مشاهده کنید و طبق ...</p></div>
                    </a></article>
                </section>
                <section class="newest">
                    <div class="title-wrap side"><h4 class="title">جدیدترین محصولات</h4></div>
                    <article><a href="cosmetics.html" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-cosmetics.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>آرایشی و بهداشتی</h5></div>
                    </a></article>
                    <article><a href="homeware/serving-foodc979.html?sort=GBG_CreationDate_desc" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-homeware.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>لوازم منزل</h5></div>
                    </a></article>
                    <article><a href="kids-and-teensc979.html?sort=GBG_CreationDate_desc" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-baby-clothes.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>کودک و نوزاد</h5></div>
                    </a></article>
                    <article><a href="new-arrival/women-wear/index.html" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-women-clothes.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>پوشاک زنانه</h5></div>
                    </a></article>
                    <article><a href="new-arrival/men-wear/index.html" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-men-clothes.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>پوشاک مردانه</h5></div>
                    </a></article>
                    <article><a href="sportc979.html?sort=GBG_CreationDate_desc" draggable="false">
                        <figure><img data-src="/{% static '' %}images/Home/footer/1/footer-sport-clothes.jpg" alt=""
                                     class="fr-dii fr-fin" draggable="false"></figure>
                        <div class="content"><h5>ورزشی</h5></div>
                    </a></article>
                </section>
            </div>
        </div>
    </aside>
    <section id="about">
        <div class="container">
            <div class="title-wrap"><h1 class="title">{{ info.title }}</h1><h5
                    class="subtitle">{{ info.description }}</h5></div>
            <p class="justify-text">
                {{ info.aboutus| striptags }}</p></div>
    </section>


    <script>
        var Sana = Sana || {};
        Sana.GTMData = Sana.GTMData || {};
        Sana.GTMData.currency = "IRR";
    </script>


    <div id="loadingIndicator" class="loading-indicator main-loading">
        <div class="centerAlign">
            <img src="{% static '' %}images/icons/progress-indicator.gif" alt="بارگذاری"/>
            <p>بارگذاری</p>
        </div>

    </div>
    <section id="newsletter">


        <div class="title-wrap">
            <h2 class="title">خبـرنامـه</h2>
            <h5 class="subtitle">برای عضویت در خبرنامه&nbsp;ایمیل خود را وارد نمایید</h5>
        </div>
        <form action="https://www.modiseh.com/newsletter/subscribe" method="post">
            <input name="__RequestVerificationToken" type="hidden"
                   value="gbcfQwZx_xRKitisn231w7Wr_JtkP5zBP_rfW42tIO0LV1CNEydefrr8iJd4NArqbnefKSKl0swe1_M5R7FxF4ER9IU1"/>

            <input data-val="true" data-val-length="ایمـیل نمی‌تواند طولانی‌تر از 80 کاراکتر باشد."
                   data-val-length-max="80" data-val-regex="ایمـیل نامعتبر است"
                   data-val-regex-pattern="^\s*(((?!\.)[a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9\-]+\.)+([a-zA-Z]{2,}))\s*$"
                   data-val-required="ایمـیل اجباری است." id="Email" maxlength="80" name="Email" placeholder="ایمـیل"
                   type="email" value=""/>

            <button class="btn" name="Gender" value="Female" type="submit">زن</button>

            <button class="btn" name="Gender" value="Male" type="submit">مرد</button>

            <input id="Source" name="Source" type="hidden" value=""/>
        </form>

    </section>


</main>


<!-- End Main -->