{% extends "base.html" %}
{% block title %}سوالات پرتکرار{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}




    <main class="main">

        <div class="container" style="padding-top:10px; padding-bottom:10px;">
            {% for rs in faq %}
                <div class="ac ">

                    <h2 class="ac-title">{{ rs.question }}</h2>
                    <div class="ac-detail ">

                        {{ rs.answer  | safe }}
                    </div>
                </div>

            {% endfor %}

        </div>

    </main>{% endblock %}