{% extends "base.html" %}

{% block title %} {{ info.title}}{% endblock %}
{% block description %} {{ info.description}}{% endblock %}
{% block keywords %} {{ info.keywords}}{% endblock %}

{% block ogTitle %} {{ info.title}}{% endblock %}
{% block ogSiteName %} {{ info.title}}{% endblock %}
{% block ogDescription %} {{ info.description}}{% endblock %}
{% block ogURL %} {{ info.description}}{% endblock %}
{% block ogimage %} {{ info.image}}{% endblock %}
{% block ogTwitterImage %} {{ info.image}}{% endblock %}


{% block header %} {% include "header.html" %} {% endblock %}
{% block slider %} {% include "slider.html" %} {% endblock %}

{% block body %} {% include "home/content.html" %} {% endblock %}


