{% load humanize %}
{% if products|length > 0 %}
    <section class="recommendation lazy">
        <div class="container">
            <div class="products-suggestion">

                <div class="title-wrap">
                    <h2 class="title">
                        <a href="#" target="_self">
                            {{ title }}
                        </a>
                    </h2>
                </div>
                <div class="products">
                    <div class="sliderousel carousel sliderousel-enabled is-draggable" tabindex="0">
                        {% for product in products %}
                            <article class="item"
                                     style="min-height:263.75px;max-height:263.75px;position: absolute; left: 0%;">
                                <a href="{% url 'product:product_details' product.id product.slug %}">
                                    <div class="cover">
                                        <figure>
                                            <img style="max-height:197.5px;min-height: 197.75px;background-color: white"
                                                 data-src="{{ product.image.url }}"
                                                 title="{{ product.title }}"
                                                 alt="{{ product.title }}"
                                                 class="rounded img-responsive">

                                            {#                                            <img style="width: 100%;height: auto ;background: white;"#}
                                            {#                                                 src="{{ product.image.url }}"#}
                                            {#                                                 title="{{ product.title }}" alt="{{ product.title }}"#}
                                            {#                                                 class="null loaded rounded">#}

                                        </figure>
                                        {% if product.amount < 1 %}
                                            <div class="sold-out">
                                                <p>نـامـوجـود</p>
                                            </div>
                                        {% endif %}
                                        {% if product.special_price > 0 and product.special_price < product.price %}
                                            <p class="discount">{{ product.calculate_discount_percent }}</p>

                                        {% endif %}

                                    </div>
                                    <div class="content">
                                        <span class="brandname" itemprop="brand"></span>
                                        <h3>{{ product.title }}</h3>
                                        <div class="price" itemprop="offers" itemscope=""
                                             itemtype="http://schema.org/Offer">
                                            {% if product.special_price > 0 and product.special_price < product.price %}
                                                <s>{{ product.price | intcomma:False }} تومان
                                                </s>
                                                <p>{{ product.special_price | intcomma:False }} تومان
                                                </p>
                                                <meta itemprop="priceCurrency" content="IRR"/>
                                                <meta itemprop="price" content="{{ product.special_price | intcomma:False }}"/>
                                            {% else %}
                                                <p>{{ product.price | intcomma:False }} تومان
                                                    <meta itemprop="priceCurrency" content="IRR"/>
                                                    <meta itemprop="price"
                                                          content="{{ product.price | intcomma:False }}"/>
                                                </p>
                                            {% endif %}

                                        </div>
                                    </div>
                                </a>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endif %}
