{% extends "base.html" %}
{% block title %}تغییر رمز عبور{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    {% include 'slidebar.html' %}
                    <div class="content">

                        <div class="container">
                            <div id="changePasswordForm">
                                <h1>تغییر رمز عبور</h1>
                                {% for message in messages %}
                                    <span style="color: #cd0a0a">{{ message |safe }}</span>

                                {% endfor %}
                                <div class="column">
                                    <form action="/user/changepassword" method="post" class="grid" id="infoForm"
                                          novalidate="novalidate">
                                        {% csrf_token %}

                                        <div class="field field-address-address">
                                            {% for field in form %}

                                                <P>
                                                    {{ field.label_tag }}
                                                    {{ field }}
                                                    {% if field.help_text %}

                                                        <small>{{ field.help_text }}</small>
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                        <p>{{ error }}</p>
                                                    {% endfor %}
                                                </P>
                                            {% endfor %}

                                            <div class="left">
                                                <button class="btn btn-big" type="submit">ثبت</button>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


