{% extends "base.html" %}
{% block title %}ویرایش اطلاعات{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    <nav>
                        <ul class="link">
                            <li class="">
                                <a href="/profile/" rel="nofollow" class="goto-myaccount">
                                    <i class="icon-gauge"></i>
                                    پیشخوان
                                </a>
                            </li>

                            <li class="">
                                <a href="/profile/change-password?returnurl=%2fprofile%2fedit" rel="nofollow"
                                   class="goto-change-password">
                                    <i class="icon-window_key"></i>
                                    تغییر رمز عبور
                                </a>
                            </li>

                            <li class="">
                                <a href="/profile/orders/?returnurl=%2fprofile%2fedit" rel="nofollow"
                                   class="goto-orders">
                                    <i class="icon-shopping_cart_full"></i>
                                    سفارشهای من
                                </a>
                            </li>
                            <li class="">
                                <a href="/profile/invoices" rel="nofollow" class="goto-returnrequest">
                                    <i class="icon-box_into"></i>
                                    درخواست بازگشت کالا
                                </a>
                            </li>
                            <li class="active">
                                <a href="/profile/edit?returnUrl=%2fprofile%2fedit" rel="nofollow"
                                   class="goto-editprofile">
                                    <i class="icon-map_location2"></i>
                                    نشانی و اطلاعات فردی
                                </a>
                            </li>


                            <li class="">
                                <a href="/profile/wishlist" rel="nofollow" class="goto-wishlist">
                                    <i class="icon-heart"></i>
                                    علاقه‌مندی‌ها
                                </a>
                            </li>
                            <li class="">
                                <a href="/profile/points/list" rel="nofollow" class="goto-smilelist">
                                    <i class="icon-modicoinstack"></i>
                                    جزئیات موجودی حساب
                                </a>
                            </li>
                            <li class="">
                                <a id="logoutLink" href="/profile/logout" rel="nofollow" class="goto-logout">
                                    <i class="icon-door_exit"></i>
                                    خروج از حساب کاربری
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <div class="content">

                        <div class="container">
                            <div id="editProfilePage">
                                <h1>جزییات</h1>
                                <div class="column">
                                    <form action="/user/edit" method="post" class="grid" id="infoForm"
                                          novalidate="novalidate">
                                        {% csrf_token %}

                                        <div class="field field-address-address">

                                            {{ user_form.as_p }}
                                            {{ profile_form.as_p }}
                                            <div class="left">
                                                <button class="btn btn-big" type="submit">ثبت</button>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


