{% extends "base.html" %}
{% block title %}ویرایش اطلاعات{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    {% include 'slidebar.html' %}
                    <div class="content">

                        <div class="container">
                            <div id="editProfilePage">
                                <h1>جزییات</h1>
                                <div class="column">
                                    <form method="post" class="grid" id="infoForm"
                                          novalidate="novalidate">
                                        {% csrf_token %}

                                        <div class="field field-address-address">

                                            {{ form|crispy }}
                                            <div class="left">
                                                <button class="btn btn-big" type="submit">ثبت</button>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


