{% extends "base.html" %}
{% block title %}ویرایش اطلاعات{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    {% include 'slidebar.html' %}
                    <div class="content">

                        <div class="container">
                            <div id="editProfilePage">
                                <h1>جزییات</h1>
                                <div class="column">
                                    <form action="" method="post" class="grid" id="infoForm"
                                          novalidate="novalidate">
                                        {% csrf_token %}
                                        <div class="form-holder">
                                            <div class="field field-address-name">

                                                {{ form.as_p }}


                                                <div class="left">
                                                    <button class="btn btn-big" type="submit">ثبت</button>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


