{% extends "base.html" %}
{% block title %} تماس با ما-{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">

        <div class="container">
            <div id="register">

                <div class="title-wrap">

                    <h1 class="title">کاربر مدیسه هستید؟ وارد شوید</h1>
                    <h5 class="subtitle">قبلا در مدیسه ثبت‌نام کرده‌اید؟ لطفا با ایمیل و رمز عبور خود وارد شوید.</h5>


                </div>

                <div style="width:100%; text-align:center;">

                    <div style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; border: solid #9C9F9F 2px; border-radius: 5px; min-height: 400px; min-width: 300px;padding: 10px;text-align: center;">

                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;" class="container">
                            <div class="row">
                                <p class="title"></p>
                                <p></p>
                                <form action="/user/login" class="link" method="post">
                                    {% csrf_token %}
                                    <div  class="row">

                                        <input maxlength="100" name="username" style="min-width: 300px" placeholder="ایمـیل" type="text" value=""/>

                                    </div>
                                    <div class="row">

                                        <input id="password" style="min-width: 300px" maxlength="30" name="password"
                                               placeholder="رمز عبور"
                                               type="password" value=""/>
                                    </div>
                                    <div class="row">
                                        <a href="/user/forgotpassword">رمز عبورم را فراموش کرده‌ام</a>
                                    </div>
                                    <div class="row">

                                        <button class="btn beige fill" style="min-width: 350px" type="submit">وارد شوید</button>

                                    </div>
                                </form>
                            </div>
                            <div  class="row">
                                <p class="title">تاکنون در مدیسه ثبت‌نام نکردید؟ از اینجا شروع کنید</p>
                                <p>اولین بار است که به مدیسه آمده‌اید؟ </p>
                                <p>ثبت نام کنید.</p>
                                <div class="row">
                                    <a class="btn fill" href="/user/signup" title="">ثبت نام</a>

                                </div>
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>

                    <button id="btnSubmit" class="btn"> ثبت</button>
                    <button id="btnSendCode" style="font-size: .7em;
                            padding: 2px;
                            background: #FF6961 @*darkgray*@;
                            border: solid 1px;
                            border-radius: 3px;
                            padding: 8px;
                            display: none;"
                    "="" title="ارسال كد (در هر دقيقه يك بار قادر به انجام كليك مي باشيد.)"
                    onclick="sendConfirmCode();">
                    ارسال كد تاييد
                    </button>
                </div>

            </div>
        </div>
        </div>


        ﻿
        <script>
            var Sana = Sana || {};
            Sana.GTMData = Sana.GTMData || {};
            Sana.GTMData.currency = "IRR";
        </script>


        <div id="loadingIndicator" class="loading-indicator main-loading">
            <div class="centerAlign">
                <img src="/content/files/icons/progress-indicator.gif" alt="بارگذاری">
                <p>بارگذاری</p>
            </div>

        </div>
        <section id="newsletter">

            <div class="title-wrap">
                <h2 class="title">خبـرنامـه</h2>
                <h5 class="subtitle">برای عضویت در خبرنامه&nbsp;ایمیل خود را وارد نمایید</h5>
            </div>
            <form action="/newsletter/subscribe" method="post" novalidate="novalidate">
                <input name="__RequestVerificationToken" type="hidden"
                       value="cDwMwKNEDLuM9VIfprxUeTcKVT0RV8URBNeX-tjx7YI3fjGgfdDAO2gmc6RDH77J_rLw0hQeIcIe9Ff5FZpcVX7I4yo1">

                <input data-val="true" data-val-length="ایمـیل / موبايل نمی‌تواند طولانی‌تر از 80 کاراکتر باشد."
                       data-val-length-max="80" data-val-regex="ایمـیل / موبايل نامعتبر است"
                       data-val-regex-pattern="^\s*(((?!\.)[a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9\-]+\.)+([a-zA-Z]{2,}))\s*$"
                       data-val-required="ایمـیل / موبايل اجباری است." id="Email" maxlength="80" name="Email"
                       placeholder="ایمـیل / موبايل" type="email" value="">

                <button class="btn" name="Gender" value="Female" type="submit">زن</button>

                <button class="btn" name="Gender" value="Male" type="submit">مرد</button>

                <input id="Source" name="Source" type="hidden" value="https://www.modiseh.com/">
            </form>

        </section>


    </main>
{% endblock %}


