{% extends "base.html" %}
{% load humanize %}

{% block title %}سفارش ها{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    {% include 'slidebar.html' %}
                    <div class="content">

                        <section id="orderHistoryPage">
                            <h5>سفارش‌های اخیر من</h5>
                            <div></div>
                            <div class="form-holder">
                                <form class="grid hidden" data-bind="submit: search, with: filter"
                                      novalidate="novalidate">
                                    <div class="row">
                                        <div class="field">
                                            <select data-bind="value: OrderType" id="filter_OrderType"
                                                    name="filter.OrderType">
                                                <option selected="selected" value="Order">جزییات سفارش</option>
                                                <option value="Invoice">جزییات سفارش</option>
                                                <option value="Shipment">کالاهای ارسال‌شده</option>
                                                <option value="ReturnReceipt">رسید برگشتی ارسال‌شده</option>
                                                <option value="CreditNote">برگ بستانکار</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field">
                                            <input type="text" name="filter.OrderId" data-bind="value: OrderId"
                                                   placeholder="شماره سفارش">
                                        </div>
                                    </div>
                                    <div class="row" data-bind="visible: $parent.isChildOrderType"
                                         style="display: none;">
                                        <div class="field">
                                            <input type="text" name="filter.DocumentId" data-bind="value: DocumentId"
                                                   placeholder="شماره سند">
                                        </div>
                                    </div>

                                    <div class="row-under-columns">
                                        <button class="btn" type="submit">جستجو</button>

                                    </div>
                                </form>
                            </div>
                            <div class="orders">
                                {% if  orders %}
                                    <table class="gvi gvi-orders" data-bind="css: { hidden: empty }">
                                        <thead>
                                        <tr>
                                            <th class="col-return-action"
                                                data-bind="visible: columnVisible('ReturnAction')"
                                                style="display: none;">درخواست بازگشت
                                            </th>
                                            <th class="col-document-id" data-bind="visible: columnVisible('DocumentId')"
                                                style="display: none;">شماره سند
                                            </th>
                                            <th class="col-order-id" data-bind="visible: columnVisible('OrderId')">شماره
                                                سفارش
                                            </th>
                                            <th class="col-document-date"
                                                data-bind="visible: columnVisible('DocumentDate')">تاریخ ثبت
                                            </th>


                                            <th class="col-total-amount"
                                                data-bind="visible: columnVisible('TotalAmount')">
                                                مبلغ (تومان)
                                            </th>
                                            <th class="col-outstanding-amount"
                                                data-bind="visible: columnVisible('OutstandingAmount')"
                                                style="display: none;">کل پرداخت‌نشده‌ها
                                            </th>
                                            <th class="col-status" data-bind="visible: columnVisible('OrderStatus')">
                                                وضعیت
                                            </th>
                                            <th >جزئیات بیشتر</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% for order in orders %}
                                                <td class="col-document-id" style="display: none;">{{ order.code }}</td>
                                                <td class="col-order-id">
                                                    <a href="/user/orderdetails/{{ order.id }}"
                                                       style="">{{ order.code }}</a>
                                                    <span style="display: none;">{{ order.code }}</span>
                                                </td>
                                                <td class="col-document-date">{{ order.j_date }}</td>


                                                <td class="col-total-amount"
                                                >
                                                    {{ order.total | intcomma:False }}</td>

                                                <td
                                                        class="deliveredtodistributer">{{ order.status_persian }}
                                                </td>
                                                <td>
                                                    <a class="btn small"
                                                       href="/user/orderdetails/{{ order.id }}">مشاهده</a>
                                                </td>

                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                {% else %}
                                    <span class="msg-block " >هیچ سفارشی پیدا نشد.</span>
                                {% endif %}
                                <div class="more-inside hidden" data-bind="css: { hidden: !hasMore() }">
                                    <button class="btn btn-big btn-load-more"
                                            data-bind="click: loadMore, css: { loading: loading() }" type="submit">نمایش
                                        10 سفارش بعدی
                                    </button>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


