{% extends "base.html" %}
{% load humanize %}

{% block title %}جزئیات سفارش {{ order.code }}{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    {% include 'slidebar.html' %}
                    <div class="content">
                        <section id="orderHistoryDetailPage">
                            <h5>جزییات سفارش {{ order.code }}</h5>
                            <p>شماره سفارش: {{ order.code }}</p>
                            <p>تاریخ ثبت: {{ order.j_date }}</p>
                            <p>وضعیت: {{ order.status_persian }}</p>
                            <p>روش پرداخت: درگاه پرداخت ملت - کارتهاي عضو شتاب</p>
                            <p>نشانی تحویل گیرنده: استان {{ order.state }} شهر {{ order.city }}</p>
                            <p>{{ order.address }} کدپستی: {{ order.postalcode }}</p>
                            <p>تحویل گیرنده: {{ order.first_name }} {{ order.last_name }}</p>
                            <p>شماره تماس: {{ order.phone }}</p>
                            <p></p>


                            <table>


                                <thead>
                                <tr>
                                    <th>نام کالا</th>

                                    <th>
                                        تعداد
                                    </th>

                                    <th>مبلغ (تومان)</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in orderitems %}
                                    <tr class="inner-row row-variant-product ">
                                        <td><a href="/product/{{ item.product.id }}/{{ item.product.slug }}">
                                            <img style="height: 50px; border-radius: 30%"
                                                 alt="{{ item.product.image.url }}"
                                                 src="{{ item.product.image.url }}"> {{ item.product.title }} {{ item.variant.title }}
                                        </a>
                                        </td>


                                        <td>{{ item.quantity }}</td>


                                        <td>{% if item.variant %}{{ item.variant.price | intcomma:False }}{% else %}{{ item.amount | intcomma:False }}{% endif %}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>


                                <tfoot>

                                <tr>
                                    <td colspan="2"><b>جمع کل</b></td>
                                    <td><b>{{ order.total | intcomma:False }}</b></td>
                                </tr>


                                <tr>
                                    <td colspan="2"><b>قابل پرداخت</b></td>
                                    <td><b>{{ order.total | intcomma:False }}</b></td>
                                </tr>


                                </tfoot>


                            </table>
                            <p>یادداشت: {{ order.admin_note }}</p>

                            <div class="history-details">
                                <div class="order-details-action-bar">

                                </div>

                                <div id="orderAuthorizationFormWrapper">
                                    ﻿


                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


