{% load custom_tags %}

<nav>
    <ul class="link">

        {% linkp request 'icon-gauge' 'user:profile' 'پیشخوان' %}

        {% linkp request 'icon-shopping_cart_full' 'user:userOrders' 'سفارشهای من' %}


{#        <li class="">#}
{#            <a href="/user/wishlist" rel="nofollow" class="goto-wishlist">#}
{#                <i class="icon-heart"></i>#}
{#                علاقه‌مندی‌ها#}
{#            </a>#}
{#        </li>#}

{#        <li class="">#}
{#            <a href="/user/reference" rel="nofollow" class="goto-returnrequest">#}
{#                <i class="icon-box_into"></i>#}
{#                درخواست بازگشت کالا#}
{#            </a>#}
{#        </li>#}
        {% linkp request 'icon-information' 'user:profileEdit' 'اطلاعات فردی' %}

        {% linkp request 'icon-map_location2' 'user:address' 'آدرس‌ها' %}

        {% linkp request 'icon-mail' 'user:userComments' 'نظرات من' %}
        {% linkp request 'icon-window_key' 'password_change' 'تغییر رمز عبور' %}
        {% linkp request 'icon-door_exit' 'logout' 'خروج از حساب کاربری' %}


    </ul>
</nav>
