{% extends "base.html" %}
{% load humanize %}
{% block title %}حساب کاربری {{ user.firs_name }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    <nav>
                        <ul class="link">
                            <li class="active">
                                <a href="/user" rel="nofollow" class="goto-myaccount">
                                    <i class="icon-gauge"></i>
                                    پیشخوان
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/orders" rel="nofollow"
                                   class="goto-orders">
                                    <i class="icon-shopping_cart_full"></i>
                                    سفارشهای من
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/wishlist" rel="nofollow" class="goto-wishlist">
                                    <i class="icon-heart"></i>
                                    علاقه‌مندی‌ها
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/reference" rel="nofollow" class="goto-returnrequest">
                                    <i class="icon-box_into"></i>
                                    درخواست بازگشت کالا
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/edit?returnUrl=%2fprofile%2fedit" rel="nofollow"
                                   class="goto-editprofile">
                                    <i class="icon-information"></i>
                                    اطلاعات فردی
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/address" rel="nofollow"
                                   class="goto-editprofile">
                                    <i class="icon-map_location2"></i>
                                    نشانی
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/comments" rel="nofollow"
                                   class="goto-comments">
                                    <i class="icon-pencil"></i>
                                    نظرات من
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/changepassword" rel="nofollow"
                                   class="goto-change-password">
                                    <i class="icon-window_key"></i>
                                    تغییر رمز عبور
                                </a>
                            </li>
                            <li class="">
                                <a href="/logout" rel="nofollow">
                                    <i class="icon-door_exit"></i>
                                    خروج از حساب کاربری
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <div class="content">

                        <section id="myAccountPage">
                            <div class="row">
                                <h5>حساب کاربری من</h5>

                                <div class="grid">
                                    <div class="column">
                                        <p><b>نام‌ و‌ نام
                                            خانوادگی:</b>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                                        <p><b>موبايل:</b>{{ profile.phone }}</p>
                                    </div>
                                    <div class="column">
                                        <p><b>ایمـیل:</b>{{ profile.user.email }}</p>

                                    </div>
                                    <div class="column directbtn">
                                        <a href="edit" rel="nofollow" class="btn small">ویرایش اطلاعات</a>
                                        <a href="/user/changepassword" rel="nofollow"
                                           class="btn small">تغییر رمز عبور</a>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <h5>سفارش‌های اخیر من</h5>
                                <div class="hscroll">
                                    {% if lastOrder %}
                                        <table class="gvi gvi-orders">
                                            <thead>
                                            <tr>
                                                <th class="col-document-id">شماره سفارش</th>
                                                <th class="col-document-date">تاریخ ثبت</th>


                                                <th class="col-order-total">مبلغ (تومان)</th>
                                                <th class="col-status">وضعیت</th>
                                                <th>جزئیات بیشتر</th>

                                            </tr>
                                            </thead>
                                            <tbody data-bind="foreach: orders">
                                            <tr>
                                                <td class="col-document-id">
                                                    <p class="td-box">
                                                        <a href="/user/orderdetails/{{ lastOrder.id }}">{{ lastOrder.code }}</a>

                                                    </p>
                                                </td>
                                                <td class="col-document-date">{{ lastOrder.create_at }}</td>

                                                <td class="col-order-total">{{ lastOrder.total | intcomma:False }}</td>
                                                <td class="col-status deliveredtodistributer"
                                                >{{ lastOrder.status_persian }}
                                                </td>
                                                <td>
                                                    <a class="btn small"
                                                       href="/user/orderdetails/{{ lastOrder.id }}">مشاهده</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div data-bind="visible: loading" style="display: none;">
                                            <div class="inline-loading-indicator">
                                                <img src="/content/files/icons/progress-indicator.gif" alt="بارگذاری">
                                                <span>بارگذاری</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="msg-block">
                                            هیچ سفارشی پیدا نشد.
                                        </div>
                                    {% endif %}


                                </div>
                                <a href="/user/orders" rel="nofollow" class="btn small">مشاهده
                                    سفارش‌های قبلی من</a>

                            </div>
                        </section>


                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


