{% extends "base.html" %}
{% block title %}تغییر رمز عبور{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    <nav>
                        <ul class="link">
                            <li class="">
                                <a href="/user" rel="nofollow" class="goto-myaccount">
                                    <i class="icon-gauge"></i>
                                    پیشخوان
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/orders" rel="nofollow"
                                   class="goto-orders">
                                    <i class="icon-shopping_cart_full"></i>
                                    سفارشهای من
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/wishlist" rel="nofollow" class="goto-wishlist">
                                    <i class="icon-heart"></i>
                                    علاقه‌مندی‌ها
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/reference" rel="nofollow" class="goto-returnrequest">
                                    <i class="icon-box_into"></i>
                                    درخواست بازگشت کالا
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/edit?returnUrl=%2fprofile%2fedit" rel="nofollow"
                                   class="goto-editprofile">
                                    <i class="icon-information"></i>
                                    اطلاعات فردی
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/address" rel="nofollow"
                                   class="goto-editprofile">
                                    <i class="icon-map_location2"></i>
                                    نشانی
                                </a>
                            </li>

                            <li class="active">
                                <a href="/user/changepassword" rel="nofollow"
                                   class="goto-change-password">
                                    <i class="icon-window_key"></i>
                                    تغییر رمز عبور
                                </a>
                            </li>
                            <li class="">
                                <a href="/logout" rel="nofollow" >
                                    <i class="icon-door_exit"></i>
                                    خروج از حساب کاربری
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <div class="content">

                        <div class="container">
                            <div id="changePasswordForm">
                                <h1>تغییر رمز عبور</h1>
                                {% for message in messages %}
                                    <span style="color: #cd0a0a">{{ message |safe }}</span>

                                {% endfor %}
                                <div class="column">
                                    <form action="/user/changepassword" method="post" class="grid" id="infoForm"
                                          novalidate="novalidate">
                                        {% csrf_token %}

                                        <div class="field field-address-address">
                                            {% for field in form %}

                                                <P>
                                                    {{ field.label_tag }}
                                                    {{ field }}
                                                    {% if field.help_text %}

                                                        <small>{{ field.help_text }}</small>
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                        <p>{{ error }}</p>
                                                    {% endfor %}
                                                </P>
                                            {% endfor %}

                                            <div class="left">
                                                <button class="btn btn-big" type="submit">ثبت</button>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


