<nav>
    <ul class="link">
        <li class="active">
            <a href="/profile/" rel="nofollow" class="goto-myaccount">
                <i class="icon-gauge"></i>
                پیشخوان
            </a>
        </li>

        <li class="">
            <a href="/user/change-password" rel="nofollow"
               class="goto-change-password">
                <i class="icon-window_key"></i>
                تغییر رمز عبور
            </a>
        </li>

        <li class="">
            <a href="/user/orders/" rel="nofollow" class="goto-orders">
                <i class="icon-shopping_cart_full"></i>
                سفارشهای من
            </a>
        </li>
        <li class="">
            <a href="/user/invoices" rel="nofollow" class="goto-returnrequest">
                <i class="icon-box_into"></i>
                درخواست بازگشت کالا
            </a>
        </li>
        <li class="">
            <a href="/user/edit" rel="nofollow" class="goto-editprofile">
                <i class="icon-map_location2"></i>
                نشانی و اطلاعات فردی
            </a>
        </li>


        <li class="">
            <a href="/user/wishlist" rel="nofollow" class="goto-wishlist">
                <i class="icon-heart"></i>
                علاقه‌مندی‌ها
            </a>
        </li>
        <li class="">
            <a href="/user/points/list" rel="nofollow" class="goto-smilelist">
                <i class="icon-modicoinstack"></i>
                جزئیات موجودی حساب
            </a>
        </li>
        <li class="">
            <a id="logoutLink" href="/logout" rel="nofollow" class="goto-logout">
                <i class="icon-door_exit"></i>
                خروج از حساب کاربری
            </a>
        </li>

    </ul>
</nav>
