{% extends "base.html" %}
{% load humanize %}

{% block title %}نظرات من{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    {% include 'slidebar.html' %}
                    <div class="content">
                        <section id="userCommentsPage">
                            <h5>نظرات</h5>
                            {% if comments %}
                                <table>


                                    <thead>
                                    <tr>
                                        <th>نام کالا</th>

                                        <th>
                                            امتیاز
                                        </th>

                                        <th>موضوع</th>
                                        <th>نظر</th>
                                        <th>تاریخ</th>
                                        <th>وضعیت نظر شما</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for rs in comments %}
                                        <tr class="inner-row row-variant-product ">
                                            <td>
                                                <a href="{% url 'product:product_details' rs.product.id rs.product.slug %}">{{ rs.product.title }}</a>
                                            </td>

                                            <td>{{ rs.rate }}</td>
                                            <td>{{ rs.subject }}</td>
                                            <td>{{ rs.comment }}</td>
                                            <td>{{ rs.j_date }}</td>
                                            <td>{{ rs.status_persian }}</td>


                                        </tr>
                                    {% endfor %}

                                    </tbody>


                                </table>

                            {% else %}
                                <span class="msg-block ">هیچ نظری پیدا نشد.</span>
                            {% endif %}


                        </section>
                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


