{% extends "base.html" %}
{% load humanize %}

{% block title %}نظرات من{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    <nav>
                        <ul class="link">
                            <li class="">
                                <a href="/user" rel="nofollow" class="goto-myaccount">
                                    <i class="icon-gauge"></i>
                                    پیشخوان
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/orders" rel="nofollow"
                                   class="goto-orders">
                                    <i class="icon-shopping_cart_full"></i>
                                    سفارشهای من
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/wishlist" rel="nofollow" class="goto-wishlist">
                                    <i class="icon-heart"></i>
                                    علاقه‌مندی‌ها
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/reference" rel="nofollow" class="goto-returnrequest">
                                    <i class="icon-box_into"></i>
                                    درخواست بازگشت کالا
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/edit?returnUrl=%2fprofile%2fedit" rel="nofollow"
                                   class="goto-editprofile">
                                    <i class="icon-information"></i>
                                    اطلاعات فردی
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/address" rel="nofollow"
                                   class="goto-editprofile">
                                    <i class="icon-map_location2"></i>
                                    نشانی
                                </a>
                            </li>
                            <li class="active">
                                <a href="/user/comments" rel="nofollow"
                                   class="goto-comments">
                                    <i class="icon-pencil"></i>
                                    نظرات من
                                </a>
                            </li>
                            <li class="">
                                <a href="/user/changepassword" rel="nofollow"
                                   class="goto-change-password">
                                    <i class="icon-window_key"></i>
                                    تغییر رمز عبور
                                </a>
                            </li>
                            <li class="">
                                <a href="{% url 'user:logout' %}" rel="nofollow">
                                    <i class="icon-door_exit"></i>
                                    خروج از حساب کاربری
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <div class="content">
                        <section id="userCommentsPage">
                            <h5>نظرات</h5>
                            {% if comments %}
                                <table>


                                    <thead>
                                    <tr>
                                        <th>نام کالا</th>

                                        <th>
                                            امتیاز
                                        </th>

                                        <th>موضوع</th>
                                        <th>نظر</th>
                                        <th>تاریخ</th>
                                        <th>وضعیت نظر شما</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for rs in comments %}
                                        <tr class="inner-row row-variant-product ">
                                            <td>
                                                <a href="{% url 'product:product_details' rs.product.id rs.product.slug %}">{{ rs.product.title }}</a>
                                            </td>

                                            <td>{{ rs.rate }}</td>
                                            <td>{{ rs.subject }}</td>
                                            <td>{{ rs.comment }}</td>
                                            <td>{{ rs.j_date }}</td>
                                            <td>{{ rs.status_persian }}</td>


                                        </tr>
                                    {% endfor %}

                                    </tbody>


                                </table>

                            {% else %}
                                <span class="msg-block ">هیچ نظری پیدا نشد.</span>
                            {% endif %}


                        </section>
                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


