{% extends "base.html" %}
{% load humanize %}
{% block title %}حساب کاربری {{ user.firs_name }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">
                    {% include 'slidebar.html' %}
                    <div class="content">

                        <section id="myAccountPage">
                            <div class="row">
                                <h5>حساب کاربری من</h5>

                                <div class="grid">
                                    <div class="column">
                                        <p><b>نام‌ و‌ نام
                                            خانوادگی:</b>{{ user.get_full_name }}</p>
                                        <p><b>موبايل:</b>{{ profile.phone }}</p>
                                    </div>
                                    <div class="column">
                                        <p><b>ایمـیل:</b>{{ user.email }}</p>

                                    </div>
                                    <div class="column directbtn">
                                        <a href="{% url 'user:profileEdit' %}" rel="nofollow" class="btn small">ویرایش اطلاعات</a>
                                        <a href="{% url 'password_change' %}" rel="nofollow"
                                           class="btn small">تغییر رمز عبور</a>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <h5>سفارش‌های اخیر من</h5>
                                <div class="hscroll">

                                    {% if object_list %}
                                        <table class="gvi gvi-orders">
                                            <thead>
                                            <tr>
                                                <th class="col-document-id">شماره سفارش</th>
                                                <th class="col-document-date">تاریخ ثبت</th>


                                                <th class="col-order-total">مبلغ (تومان)</th>
                                                <th class="col-status">وضعیت</th>
                                                <th>جزئیات بیشتر</th>

                                            </tr>
                                            </thead>
                                            <tbody data-bind="foreach: orders">
                                            <tr>
                                                <td class="col-document-id">
                                                    <p class="td-box">
                                                        <a href="{% url 'user:ordersDetails' object_list.0.id %}">{{ object_list.0.code }}</a>

                                                    </p>
                                                </td>
                                                <td class="col-document-date">{{ object_list.0.create_at | naturaltime }}</td>

                                                <td class="col-order-total">{{ object_list.0.total | intcomma:False }}</td>
                                                <td class="col-status deliveredtodistributer"
                                                >{% if object_list.0.status == 'OnPay' %}
                                                        <a href="{% url 'payment:request' object_list.0.id %}" class="btn beige fill" style="width: auto;display: inline-block" >{{ object_list.0.status_persian }}</a>
                                                    {% else %}
                                                        {{ object_list.0.status_persian }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="btn small"
                                                       href="{% url 'user:ordersDetails' object_list.0.id %}">مشاهده</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
{#                                        <div data-bind="visible: loading" style="display: none;">#}
{#                                            <div class="inline-loading-indicator">#}
{#                                                <img src="/content/files/icons/progress-indicator.gif" alt="بارگذاری">#}
{#                                                <span>بارگذاری</span>#}
{#                                            </div>#}
{#                                        </div>#}
                                    {% else %}
                                        <div class="msg-block">
                                            هیچ سفارشی پیدا نشد.
                                        </div>
                                    {% endif %}


                                </div>
                                <a href="/user/orders" rel="nofollow" class="btn small">مشاهده
                                    سفارش‌های قبلی من</a>

                            </div>
                        </section>


                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


