{% load humanize %}


<h1>
    <span class="step">۲</span><i class="icon-map_location2"></i><span
        class="title-step">انتخاب آدرس</span>
</h1>


<form action="{% url 'order:orderProducts' %}" class="form" data-bind="submit: goToNextStep" method="post"
      novalidate="novalidate">
    {% csrf_token %}
    <div class="wrapper">


        {% if addresses|length == 0 %}
            <label for="shippingValueDefault">لطفا آدرس خود را ثبت کنید.</label>

        {% else %}

            <input type="hidden" name="shippingValueDefaultId" value="">

            {% for ad in addresses %}
                <div class="row">
                    <input type="radio" name="shipping"
                           id="shippingValueDefault" value="{{ ad.id }}" class="radio  {% if ad.default_shipping_address %}selected{% endif %}"
                            {% if ad.default_shipping_address %}
                           checked=""
                            {% endif %}
                    >
                    <label for="shippingValueDefault"><p>استان: {{ ad.state }}
                        شهر: {{ ad.city }} {{ ad.address }}</p>
                        <p>تحویل گیرنده: {{ ad.firstname }} {{ ad.lastname }}</p></label>
                </div>

            {% endfor %}


        {% endif %}


        <div class="row">
            <input type="radio" name="shipping" id="shippingChoice"
                   data-bind="checked: shippingChoice" value="addNewShippingAddress" class="radio addaddress">
            <label for="shippingChoice"><p>تحویل سفارش به نشانی جدید</p></label>
            <div class="addressform">
                {% for message in messages %}
                    <span>{{ message | safe }}</span>
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                {% endfor %}

                <div class="field field-shippingaddress-firstname">

                    <input id="firstـname" maxlength="50" name="firstname"
                           placeholder="نام" type="text">
                </div>
                <div class="field field-shippingaddress-lastname">

                    <input
                            id="lastـname" maxlength="50" name="lastname"
                            placeholder="نام خانوادگی" type="text">
                </div>
                <div class="field field-shippingaddress-phone">

                    <input
                            id="phone" maxlength="50" name="phone"
                            placeholder="شماره تماس" type="text">
                </div>

                <div class="field field-shippingaddress-state">
                    <input
                            id="state" maxlength="50" name="state"
                            placeholder="استان" type="text">
{#                    <select id="state" name="state"#}
{#                            class="">#}
{##}
{#                        <option>استان</option>#}
{#                        <option value="Alborz">البرز</option>#}
{#                        <option value="Ardebil">اردبیل</option>#}
{#                        <option value="AzarGharbi">آذربایجان غربی</option>#}
{#                        <option value="AzarShargh">آذربایجان شرقی</option>#}
{#                        <option value="Bakhtiari">چهارمحال و بختیاری</option>#}
{#                        <option value="Bushehr">بوشهر</option>#}
{#                        <option value="Esfahan">اصفهان</option>#}
{#                        <option value="Fars">فارس</option>#}
{#                        <option value="Gilan">گیلان</option>#}
{#                        <option value="Golestan">گلستان</option>#}
{#                        <option value="Hamedan">همدان</option>#}
{#                        <option value="Hormozgan">هرمزگان</option>#}
{#                        <option value="Ilam">ایلام</option>#}
{#                        <option value="Kerman">کرمان</option>#}
{#                        <option value="Kermanshah">کرمانشاه</option>#}
{#                        <option value="KhorasJonu">خراسان جنوبی</option>#}
{#                        <option value="KhorasReza">خراسان رضوی</option>#}
{#                        <option value="KhorasShom">خراسان شمالی</option>#}
{#                        <option value="Khuzestan">خوزستان</option>#}
{#                        <option value="Kohgiloyeh">کهگیلویه و بویراحمد</option>#}
{#                        <option value="Kurdistan">کردستان</option>#}
{#                        <option value="Lorestan">لرستان</option>#}
{#                        <option value="Markazi">مرکزی</option>#}
{#                        <option value="Mazandaran">مازندران</option>#}
{#                        <option value="Qazvin">قزوین</option>#}
{#                        <option value="Qom">قم</option>#}
{#                        <option value="Semnan">سمنان</option>#}
{#                        <option value="SistBaluch">سیستان و بلوچستان</option>#}
{#                        <option value="Tehran">تهران</option>#}
{#                        <option value="Yazd">یزد</option>#}
{#                        <option value="Zanjan">زنجان</option>#}
{#                    </select>#}

                </div>
                <div class="field field-shippingaddress-city">
                    <input
                            id="city" maxlength="50" name="city"
                            placeholder="شهر" type="text">
{#                    <select id="city" name="city"#}
{#                            class="">#}
{##}
{#                        <option value="">شهر</option>#}
{#                        <option value="آبسرد">آبسرد</option>#}
{#                        <option value="آبعلی">آبعلی</option>#}
{#                        <option value="آسان شهر">آسان شهر</option>#}
{#                        <option value="احمد آباد مستوفی">احمد آباد مستوفی</option>#}
{#                        <option value="ارجمند">ارجمند</option>#}
{#                        <option value="اسلامشهر">اسلامشهر</option>#}
{#                        <option value="اندیشه">اندیشه</option>#}
{#                        <option value="باغستان">باغستان</option>#}
{#                        <option value="باقرشهر">باقرشهر</option>#}
{#                        <option value="بومهن">بومهن</option>#}
{#                        <option value="پاکدشت">پاکدشت</option>#}
{#                        <option value="پردیس">پردیس</option>#}
{#                        <option value="پرند">پرند</option>#}
{#                        <option value="پیشوا">پیشوا</option>#}
{#                        <option value="تهران">تهران</option>#}
{#                        <option value="جوادآباد">جوادآباد</option>#}
{#                        <option value="چهاردانگه">چهاردانگه</option>#}
{#                        <option value="حسن آباد">حسن آباد</option>#}
{#                        <option value="دماوند">دماوند</option>#}
{#                        <option value="رباطکریم">رباطکریم</option>#}
{#                        <option value="رودهن">رودهن</option>#}
{#                        <option value="شاهدشهر">شاهدشهر</option>#}
{#                        <option value="شریف آباد">شریف آباد</option>#}
{#                        <option value="شمشک">شمشک</option>#}
{#                        <option value="شهریار">شهریار</option>#}
{#                        <option value="صالحیه">صالحیه</option>#}
{#                        <option value="صباشهر">صباشهر</option>#}
{#                        <option value="صفادشت">صفادشت</option>#}
{#                        <option value="فردوسیه">فردوسیه</option>#}
{#                        <option value="فرون اباد">فرون اباد</option>#}
{#                        <option value="فشم">فشم</option>#}
{#                        <option value="فیروزکوه">فیروزکوه</option>#}
{#                        <option value="قدس">قدس</option>#}
{#                        <option value="قرچک">قرچک</option>#}
{#                        <option value="گلداران">گلداران</option>#}
{#                        <option value="گلستان">گلستان</option>#}
{#                        <option value="ملارد">ملارد</option>#}
{#                        <option value="نسیم شهر">نسیم شهر</option>#}
{#                        <option value="نصیرشهر">نصیرشهر</option>#}
{#                        <option value="وحیدیه">وحیدیه</option>#}
{#                        <option value="ورامین">ورامین</option>#}
{#                        <option value="وهن آباد">وهن آباد</option>#}
{#                        <option value="کیلان">کیلان</option>#}
{#                    </select>#}
                </div>
                <div class="field field-shippingaddress-address">

                    <input
                            id="address" maxlength="300" name="address"
                            placeholder="آدرس" type="text">
                </div>
                <div class="field field-shippingaddress-postalcode">

                    <input id="postalcode" maxlength="20"
                           name="postalcode" placeholder="کدپستی" type="text"
                           value="{{ address.postal_code }}">
                </div>
                <input id="ShippingAddress_NeverNull" name="ShippingAddress.NeverNull" type="hidden"
                       value="">
                <script src="/content/script/Dev/cookieOperator.js"></script>
                <script>

                    var _address = getCookie('_address');
                    //$('#ShippingAddress_Address').val(_address);
                    document.getElementById('ShippingAddress_Address').value = _address;
                </script>


            </div>
        </div>
        <div class="gift hidden">
            <input type="checkbox" name="IsGift" id="IsGift" value="true" class="checkbox">
            <input type="hidden" name="IsGift" value="false">

            <label for="IsGift">این سفارش هدیه است</label><i class="icon-gift"></i>
        </div>
    </div>
    <footer>
        <button class="btn confirm" type="submit">ثبت و ادامه</button>

    </footer>
</form>

{#<div id="loadingIndicator" class="loading-indicator basket-page">#}
{#    <img src="/content/files/icons/progress-indicator.gif" alt="بارگذاری">#}
{#    <p>در حال ثبت نشانی سفارش . . .</p>#}
{#</div>#}