{% extends "base.html" %}
{% load humanize %}
{% block title %}انتخاب روش پرداخت{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "simple_header.html" %}{% endblock %}

{% block body %}
    <main class="main" id="checkout" style="margin-top: 10px">


        <section class="column invoice " id="basketPage">


            {% include 'cart_page.html' %}
        </section>
        <section class="column address" id="orderAdressPage">


            {% include 'order_product_address_page.html' %}
            <div class="edit">
                <span class="success"></span>
                <a href="{% url 'order:orderProducts' %}" class="btn gray">تغییر نشانی</a>
            </div>
        </section>
        <section class="column payment active" id="orderPaymentPage">
            {% include 'payment_methods_page.html' %}

        </section>


        ﻿
        <script>
            var Sana = Sana || {};
            Sana.GTMData = Sana.GTMData || {};
            Sana.GTMData.currency = "IRR";
        </script>


    </main>


{% endblock %}


