{% load humanize %}

<h1><span class="step">۳</span><i class="icon-hand_money"></i><span class="title-step">روش پرداخت</span>
</h1>

<form action="{% url 'order:paymentmethods' %}" id="checkoutForm" method="post">
    {% csrf_token %}
    <div class="wrapper">
        <section class="finalBill">
            <h5>مبلغ نهایی</h5>
            <div class="row">
                <span class="right">جمع کل</span>
                <span class="left">{{ totalprice | intcomma:False }} تومان</span>
            </div>


            <div class="row">
                <b class="t-row-total-price emphasis right">قابل پرداخت</b><b
                    class="left">{{ totalprice | intcomma:False }} تومان
            </b>
            </div>
        </section>


        <section class="paymentForm">
            <h5>انتخاب روش ارسال</h5>
            {% for shipping in shipment %}
                <div class="row">

                    <input class="radio" value="{{ shipping.id }}" id="shippingId" name="shipmentMethod" type="radio">
                    <label>
                        <p>{{ shipping.title }} - {{ shipping.description }} - {{ shipping.price| intcomma:False }} تومان</p></label>

                </div>
            {% endfor %}
        </section>


        <section class="paymentForm">
            <h5> روش پرداخت</h5>
            <div class="row">

                <input checked="checked" class="radio selected"
                       id="payGate" name="MethodId" type="radio"
                       >
                <label>
                    <p>درگاه پرداخت زرین پال - کارتهاي عضو شتاب</p></label>

            </div>
            <p class="disabled">
                پرداخت در محل برای آدرس تحویل انتخاب شده‌ی این سفارش مقدور نمی‌باشد.
            </p>

        </section>
    </div>
    <footer>
        <button class="btn confirm" type="submit">تایید سفارش</button>

    </footer>
</form>

