{% load humanize %}
<h1><span class="step">۳</span><i class="icon-hand_money"></i><span class="title-step">روش پرداخت</span>
</h1>

<form action="/checkout/paymentmethods/submit" id="checkoutForm" method="post">
    <div class="wrapper">
        <section class="finalBill">
            <h5>مبلغ نهایی</h5>
            <div class="row">
                <span class="right">جمع کل</span>
                <span class="left">
                        ۳۴٫۷۷۰٫۰۰۰  ريال

                </span>
            </div>


            <div class="row">
                <b class="t-row-total-price emphasis right">قابل پرداخت</b><b class="left"> ۳۴٫۷۷۰٫۰۰۰ ريال
            </b>
            </div>
        </section>


        <section class="paymentForm">
            <h5>انتخاب روش پرداخت</h5>
            <input name="__RequestVerificationToken" type="hidden"
                   value="_aVWl-qX9d_UMzjrgrsP3SIHslCMsRQq0AbM-K7HMSl_he6iBdXUMAQ6nHbRgEDF5vv_3qWyhQW0W67FC9O3dOs2MMQ1">


            <div class="row">

                <input checked="checked" class="radio selected"
                       data-name="درگاه پرداخت ملت - کارتهاي عضو شتاب" data-total-amount=""
                       id="3aeb6289-4502-4d7b-b1bb-ef53f4562085" name="MethodId" type="radio"
                       value="3aeb6289-4502-4d7b-b1bb-ef53f4562085">
                <label for="3aeb6289-4502-4d7b-b1bb-ef53f4562085">
                    <p>درگاه پرداخت ملت - کارتهاي عضو شتاب</p></label>

            </div>
            <div class="row">

                <input class="radio" data-name="درگاه پرداخت سامان -کارتهاي عضو شتاب" data-total-amount=""
                       id="c88ae063-5e3e-4a4f-8531-8220bca702ed" name="MethodId" type="radio"
                       value="c88ae063-5e3e-4a4f-8531-8220bca702ed">
                <label for="c88ae063-5e3e-4a4f-8531-8220bca702ed">
                    <p>درگاه پرداخت سامان -کارتهاي عضو شتاب</p></label>

            </div>
            <div class="row">

                <input class="radio" data-name="درگاه پرداخت  تارا" data-total-amount=""
                       id="e4a78564-3389-4148-833a-aed1d7af627c" name="MethodId" type="radio"
                       value="e4a78564-3389-4148-833a-aed1d7af627c">
                <label for="e4a78564-3389-4148-833a-aed1d7af627c">
                    <p>درگاه پرداخت تارا</p></label>

            </div>

            <p class="disabled">
                پرداخت در محل برای آدرس تحویل انتخاب شده‌ی این سفارش مقدور نمی‌باشد.
            </p>

        </section>
    </div>
    <footer>
        <button class="btn confirm" type="submit">تایید سفارش</button>

    </footer>
</form>

