{% extends "base.html" %}
{% load humanize %}
{% block title %} سبد خرید {{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "simple_header.html" %}{% endblock %}

{% block body %}
    <main class="main" id="checkout" style="margin-top: 10px">


        <section class="column invoice active" id="basketPage">


            {% include 'cart_page.html' %}
        </section>
        <section class="column address" id="orderAdressPage">


            {% include 'order_product_address_page.html' %}

        </section>
        <section class="column payment" id="orderPaymentPage">
            {% include 'payment_methods_page.html' %}
        </section>


        ﻿
        <script>
            var Sana = Sana || {};
            Sana.GTMData = Sana.GTMData || {};
            Sana.GTMData.currency = "IRR";
        </script>


    </main>


{% endblock %}


