{% extends "base.html" %}
{% block title %}ورود{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">

        <div class="container">
            <div id="register">

                <div class="title-wrap">

                    <h1 class="title">لطفا وارد شوید و یا ثبت نام کنید</h1>

                </div>

                <div style="width:100%; text-align:center;">


                    <div class="page login">

                        <div class="grid">
                            <div class="column">

                                <p class="title">کاربر مدیسه هستید؟ وارد شوید</p>
                                <p>قبلا در مدیسه ثبت‌نام کرده‌اید؟ لطفا با ایمیل و رمز عبور خود وارد شوید.</p>

                                {% if form.non_field_errors %}
                                    <div class="validation-summary-errors">
                                        {% for error in form.non_field_errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <form class="link" method="post">
                                    {% csrf_token %}
                                    <div class="row">


                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="validation-summary-errors">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {{ form.password }}
                                        {% if form.password.errors %}
                                            <div class="validation-summary-errors">
                                                {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                    </div>
                                    <a href="{% url 'password_reset' %}" tabindex="-1">رمز عبورم را فراموش
                                        کرده‌ام</a>
                                    <div class="left">
                                        <button class="btn beige fill" type="submit">وارد شوید</button>

                                    </div>

                                </form>
                            </div>
                            <div class="column">
                                <p class="title">تاکنون در مدیسه ثبت‌نام نکردید؟ از اینجا شروع کنید</p>
                                <p>اولین بار است که به مدیسه آمده‌اید؟ </p>
                                <p>ثبت نام کنید.</p>


                                <div class=""><a class="btn fill left" href="{% url 'signup' %}"
                                                     title="">ثبت نام</a>
                                    <a class="btn fill left"
                                       href="{% url 'social:begin' 'google-oauth2' %}">ثبت نام یا ورود با حساب گوگل
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br>
                    <br>

                    <button id="btnSubmit" class="btn"> ثبت</button>

                </div>

            </div>
        </div>

    </main>
{% endblock %}


