{% extends "base.html" %}
{% block title %}ورود{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">

        <div class="container">
            <div id="register">

                <div class="title-wrap">

                    <h1 class="title">لطفا وارد شوید و یا ثبت نام کنید</h1>

                </div>

                <div style="width:100%; text-align:center;">


                    <div class="page login">

                        <div class="grid">
                            <div class="column">

                                <p class="title">کاربر مدیسه هستید؟ وارد شوید</p>
                                <p>قبلا در مدیسه ثبت‌نام کرده‌اید؟ لطفا با ایمیل و رمز عبور خود وارد شوید.</p>

                                {% if form.non_field_errors %}
                                    <div class="validation-summary-errors">
                                        {% for error in form.non_field_errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <form class="link" method="post">
                                    {% csrf_token %}
                                    <div class="row">


                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="validation-summary-errors">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {{ form.password }}
                                        {% if form.password.errors %}
                                            <div class="validation-summary-errors">
                                                {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                    </div>
                                    <a href="{% url 'password_reset' %}" tabindex="-1">رمز عبورم را فراموش
                                        کرده‌ام</a>
                                    <div class="left">
                                        <button class="btn beige fill" type="submit">وارد شوید</button>

                                    </div>

                                </form>
                            </div>
                            <div class="column">
                                <p class="title">تاکنون در مدیسه ثبت‌نام نکردید؟ از اینجا شروع کنید</p>
                                <p>اولین بار است که به مدیسه آمده‌اید؟ </p>
                                <p>ثبت نام کنید.</p>


                                <div class="row"><a class="btn fill right" href="/user/signup"
                                                    title="">ثبت نام</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br>
                    <br>

                    <button id="btnSubmit" class="btn"> ثبت</button>

                </div>

            </div>
        </div>
        </div>


        <div id="loadingIndicator" class="loading-indicator main-loading">
            <div class="centerAlign">
                <img src="/content/files/icons/progress-indicator.gif" alt="بارگذاری">
                <p>بارگذاری</p>
            </div>

        </div>
        <section id="newsletter">

            <div class="title-wrap">
                <h2 class="title">خبـرنامـه</h2>
                <h5 class="subtitle">برای عضویت در خبرنامه&nbsp;ایمیل خود را وارد نمایید</h5>
            </div>
            <form action="/newsletter/subscribe" method="post" novalidate="novalidate">

                <input id="Email" maxlength="80" name="Email"
                       placeholder="ایمـیل / موبايل" type="email" value="">

                <button class="btn" name="Gender" value="Female" type="submit">زن</button>

                <button class="btn" name="Gender" value="Male" type="submit">مرد</button>

                <input id="Source" name="Source" type="hidden" value="https://www.modiseh.com/">
            </form>

        </section>


    </main>
{% endblock %}


