{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}تغییر رمز عبور{{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        {% if user.id is not None %}
            <div class="container">
                <div id="profile" class="grid">

                    {% include 'slidebar.html' %}
                    <div class="content">

                        <div class="container">
                            <div id="changePasswordForm">
                                <h1>عملیات با موفقیت انجام شد.</h1>

                                <span class="alert alert-success">
                                    رمز عبور تغییر یافت.
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}

    </main>
{% endblock %}


