{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}رمز عبور جدید{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        <div class="page" style="text-align: center;">
            {% if validlink %}

                <div class="title-wrap">
                    <h1 class="title">ورود رمز عبور جدید</h1>
                </div>
                <section class="content">
                    <p>گذرواژهٔ جدیدتان را دوبار وارد کنید تا ما بتوانیم چک کنیم که به درستی تایپ کرده‌اید.</p>
                </section>
                <section>
                    <br>
                    <br>

                    <form method="post" class="grid" id="infoForm"
                          novalidate="novalidate">
                        {% csrf_token %}
                        <div class="row">
                            <div class="column">

                                <p>گذرواژه جدید:</p>{{ form.new_password1 }}

                                <br>
                            </div>
                            <div class="column">

                                <p>تکرار گذرواژه جدید:</p>{{ form.new_password2 }}

                                <br>
                            </div>
                            <div class="form-button" style="margin: 2px">
                                <button class="btn btn-big" type="submit">تغییر گذرواژه</button>

                            </div>
                        </div>
                    </form>

                </section>
            {% else %}
                <div class="title-wrap">
                    <h1 class="title">لینک بازیابی منقضی شده است. لطفا مجدد <a style="color: #cd0a0a" href="{% url 'password_reset' %}"
                                                                               tabindex="-1">درخواست فراموشی رمز
                        عبور</a> بدهید.</h1>

                </div>{% endif %}

        </div>


    </main>
{% endblock %}


