{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block title %}رمز عبور جدید افزوده شد{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">


        <div class="page" style="text-align: center;">
            <div class="title-wrap">
                <h1 class="title">رمز عبور جدید افزوده شد</h1>
            </div>
            <section class="content">
                <p>
                    <a style="color: #cd0a0a" href="{% url 'login' %}">ورود به {{ info.title }}</a>
                </p>
            </section>
        </div>
    </main>
{% endblock %}


