{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}تغییر رمز عبور{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        <div class="page" style="text-align: center;">
            <div class="title-wrap">
                <h1 class="title">بازیابی رمز عبور</h1>
            </div>
            <section class="content">
                <span>رمز خود را فراموش کرده اید؟ آدرس ایمیل خود را وارد کنید، و ما روش بازیابی رمز جدید را برایتان ارسال می کنیم.</span>
            </section>
            <section>
                <br>
                <br>

                <form method="post" class="grid" id="infoForm"
                      novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row">

                        <div class="column">

                            {{ form|crispy }}

                            <br>
                        </div>
                        <div class="form-button" style="margin: 2px">
                            <button class="btn btn-big" type="submit">بازیابی گذرواژه</button>

                        </div>
                    </div>
                </form>

            </section>
        </div>

    </main>
{% endblock %}


