{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}تغییر رمز عبور{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">


        <div class="page" style="text-align: center;">
            <div class="title-wrap">
                <h1 class="title">ایمیل بازیابی ارسال شد</h1>
            </div>
            <section class="content">
                <p>روش بازیابی رمز عبور را به ایمیل شما ارسال کردیم. در صورتی که با ایمیل وارد شده حساب کاربری
                    وجود داشته باشد باید به زودی آن را دریافت کنید.</p>
                <p>درصورتی که ایمیلی دریافت نکرده اید لطفا آدرسی را که وارد کرده اید را مجدد بررسی کنید، و پوشه
                    اسپم خود را نیز چک کنید.</p>
            </section>
        </div>
    </main>
{% endblock %}


