{% extends "base.html" %}
{% load humanize %}
{% load custom_tags %}
{% load comment_tags %}
{% load ratings %}

{% block title %} {{ product.title }}{% endblock %}
{% block description %} {{ product.description }}{% endblock %}
{% block keywords %} {{ product.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">
        <div class="container">


            <ul class="more-from link">
                <li>
                    <a href="/" data-text-identifier="خانه">
                        خانه
                    </a>
                    <meta itemprop="" content="home"/>
                </li>
                {% if product.category.parent.slug %}
                    <li>
                        <a href="{% url 'category_products' product.category.parent.slug %}">
                            {{ product.category.parent.title }}
                        </a>
                    </li>
                {% endif %}
                {% if product.category.slug %}
                    <li>
                        <a href="{% url 'category_products' product.category.slug %}">
                            {{ product.category.title }}
                        </a>
                    </li>
                {% endif %}

                <li class="active">
                    {{ product.title }}

                </li>
            </ul>
        </div>


        <div class="container">

            <div id="product">
                <article class="product" id="productPage" itemscope itemtype="http://schema.org/Product">
                    <div class="special">
                        <span class="icon-offer-fillnull"></span><span class="textfield" title="تک سایز">
                        تک سایز
                    </span>
                    </div>

                    <figure id="productImage">
                        {% if variant.image_id > 0 %}
                            <img src="{{ variant.image_var }}" alt="{{ product.title }}" title="{{ product.title }}"
                                 class="active" id="imgView"/>
                        {% else %}
                            <img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}"
                                 class="active" id="imgView"/>
                        {% endif %}

                        <figcaption id="thumbnail">
                            {% for im in images %}
                                <img src="{{ im.image.url }}" alt="{{ product.title }}" title="{{ product.title }}"/>
                            {% endfor %}
                        </figcaption>
                    </figure>


                    <div id="productContent">


                        <div class="title">
                            <h1 itemprop="name">{{ product.title }}</h1>
                            <p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="IRR"/>
                                <meta itemprop="price" content="{{ product.price }}"/>
                                قیمت
                                <span> {{ product.price | intcomma:False }} تومان</span>
                                <link itemprop="availability" href="http://schema.org/InStock"/>

                            </p>


                            {#                            <span class="product-number">{{ product.counter_view }} بازدید</span>#}
                            {% ratings product %}
                            {{ product.hits.count }}

                            <div class="extrafeature">

                            </div>
                            {#                            <meta id="productId" itemprop="productID" content="{{ product.id }}">#}

                            <div id="retailOffers" class="offer">
                                <p class="itemOffer"> دو كالا بخريد سومی
                                    رايگان - بعد از افزودن به سبد خرید</p>
                                <p class="itemOffer">تخفیف بيشتر برای تک
                                    سایزها</p>
                            </div>
                            {% if product.amount < 1 %}
                                <span class="not-available">نـامـوجـود</span>
                            {% endif %}
                        </div>
                        <script>
                            $(document).on('change', '#post-form', function (e) {
                                e.preventDefault();
                                $.ajax({
                                    type: 'POST',
                                    url: '{% url "product:ajaxcolor" %}',
                                    data: {
                                        productid: $('#productid').val(),
                                        size: $('#size').val(),
                                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                        action: 'post'
                                    },
                                    data_type: 'html',
                                    success: function (data) {
                                        console.log("success");
                                        $('#appendHere').html(data.rendered_table);

                                    }, error: function (data) {
                                        alert("خطایی رخ داده است: " + data)
                                    }
                                })
                            });
                        </script>


                        <div class="product-options">
                            {% if product.variant == 'SizeColor' %}

                                <div class="size">
                                    <form method="post" id="post-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="productid" id="productid" value="{{ product.id }}">


                                        <h5 class="link">سایز


                                            <select name="size" id="size">

                                                {% for rs in sizes %}

                                                    <option {% if variant.size_id == rs.size_id %} selected {% endif %}
                                                                                                   value="{{ rs.size_id }}">{{ rs.size.name }}</option>

                                                {% endfor %}
                                            </select>
                                        </h5>
                                    </form>
                                </div>
                                <form method="post" action="" id="post-color">
                                    {% csrf_token %}
                                    <div id="appendHere">
                                        <input type="hidden" name="productid" id="productid" value="{{ product.id }}">
                                        <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                        <ul class="color-option">

                                            <div class="size-list">
                                                {% for rs in colors %}
                                                    {% if rs.quantity > 0 %}

                                                        <label {% if rs.quantity < 1 %}class="not-available"{% endif %}
                                                               {% if variant.id == rs.id %}class="selected"{% endif %}
                                                        >
                                                            <input type="radio" class="hidden"
                                                                   {% if variant.id == rs.id %}checked{% endif %}
                                                                   name="variantid" id="variantid" value="{{ rs.id }}"
                                                                   {% if rs.quantity < 1 %}disabled{% else %}onchange="this.form.submit();"{% endif %}>
                                                            <a style="background-color: {{ rs.color.code }}; color: #d9d9d9;
                                                                    text-shadow: 1px 1px #000000; width: 70px">
                                                                {% if rs.quantity < 1 %}ناموجود
                                                                    {% else %}{{ rs.price | intcomma:False }} تومان
                                                                    {{ rs.color }}{% endif %}
                                                            </a>
                                                            {#                                                            <img src="{{ rs.image_var }}" style="height: 60px"/>#}
                                                        </label>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </ul>

                                    </div>
                                </form>

                            {% elif product.variant == 'Size' %}
                                <form method="post" action="" id="post-color">
                                    {% csrf_token %}
                                    <div id="appendHere">
                                        <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                        <ul class="color-option">
                                            <span class="text-uppercase">اندازه: </span>
                                            <div class="size-list">
                                                {% for rs in sizes %}
                                                    {% if rs.quantity > 0 %}

                                                        <label
                                                                {% if variant.id == rs.id %}class="selected"{% endif %}
                                                        >
                                                            <input type="radio" class="hidden"
                                                                   {% if variant.id == rs.id %}checked{% endif %}
                                                                   name="variantid" id="variantid" value="{{ rs.id }}"
                                                                   {% if rs.quantity < 1 %}disabled{% else %}onchange="this.form.submit();"{% endif %}>
                                                            <a style=" color: #204d74; width: 90px">
                                                                {% if rs.quantity < 1 %}ناموجود
                                                                    {% else %}{{ rs.size }} _
                                                                    {{ rs.price | intcomma:False }} تومان{% endif %}
                                                            </a>
                                                        </label>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </ul>

                                    </div>
                                </form>

                            {% elif product.variant == 'Color' %}
                                <form method="post" action="" id="post-color">
                                    {% csrf_token %}
                                    <div id="appendHere">
                                        <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                        <ul class="color-option">
                                            <span class="text-uppercase">اندازه: </span>
                                            <div class="size-list">
                                                {% for rs in colors %}
                                                    {% if rs.quantity > 0 %}

                                                        <label
                                                                {% if variant.id == rs.id %}class="selected"{% endif %}
                                                        >
                                                            <input type="radio" class="hidden"
                                                                   {% if variant.id == rs.id %}checked{% endif %}
                                                                   name="variantid" id="variantid" value="{{ rs.id }}"
                                                                   {% if rs.quantity < 1 %}disabled{% else %}onchange="this.form.submit();"{% endif %}>
                                                            <a style="border-radius: 0.25rem; background-color: {{ rs.color.code }}; color: #d9d9d9; text-shadow: 1px 1px #000000; width: 70px">
                                                                {% if rs.quantity < 1 %}ناموجود
                                                                    {% else %}{{ rs.price | intcomma:False }} تومان
                                                                    {{ rs.color }}{% endif %}

                                                            </a>
                                                        </label>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </ul>

                                    </div>
                                </form>

                            {% endif %}

                            {% if product.variant != 'None' %}
                                <form action="/order/addproduct/{{ product.id }}" autocomplete="off" class="order-box"
                                      id="product-form" method="post">
                                    {% csrf_token %}


                                    <input type="hidden" name="variantid" id="variantid" value="{{ variant.id }}"/>
                                    <input type="hidden" class="number" name="quantity" value="1" min="1" maxlength="8"
                                           max="{{ product.amount }}"/>


                                    <div class="button-wrap">
                                        {% if variant.quantity > 0 %}
                                            <button type="submit" class="btn beige fill addtocart" title="Add to Cart">
                                                افزودن به سبد خرید
                                                <i class="icon-plus"></i>

                                                <span class="popupContextError" style="display:none ;"><i
                                                        class="icon-hand_point_up"></i>لطفا سایز مورد نظر خود را انتخاب کنید</span>
                                            </button>
                                        {% endif %}

                                        <a href="#" class="btn addtowishlist" id="addToWishlist" data-product="AN9400"
                                           data-uom="ea"
                                           data-url="/wishlist/add?returnUrl=%2fkids-and-teens%2fapparel%2fgirls%2ftrousers-and-shirts%2fan9400-%25D8%25B4%25D9%2584%25D9%2588%25D8%25A7%25D8%25B1-zippy"
                                           title="افزودن به لیست علاقه‌مندی‌ها"><i class="icon-heart"></i></a>

                                        <div class=" grid productservices">
                                            <div class="column">
                                                <span class=" icon freedelivery"></span>
                                                <span class="">تحویل رایگان سفارش‌های بالای ۲۰۰ هزار تومان</span>
                                            </div>
                                            <div class="column">
                                                <span class="icon freereturn"></span>
                                                <span class="">بازگشت رایگان، به هر دلیلی با مراجعه به در منزل شما</span>
                                            </div>
                                            <div class="column">
                                                <span class="icon returnperiod"></span>
                                                <span class="">هفت روز فرصت بازگشت</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            {% else %}
                                <form action="/order/addproduct/{{ product.id }}" autocomplete="off" class="order-box"
                                      id="product-form" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" class="number" name="quantity" value="1" min="1" maxlength="8"
                                           max="{{ product.amount }}"/>

                                    <div class="button-wrap">
                                        {% if product.amount > 0 %}

                                            <button type="submit" class="btn beige fill addtocart" title="Add to Cart">
                                                افزودن به سبد خرید
                                                <i class="icon-plus"></i>

                                                <span class="popupContextError" style="display:none ;"><i
                                                        class="icon-hand_point_up"></i>لطفا سایز مورد نظر خود را انتخاب کنید</span>
                                            </button>
                                        {% endif %}

                                        <a href="#" class="btn addtowishlist" id="addToWishlist" data-product="AN9400"
                                           data-uom="ea"
                                           data-url="/wishlist/add?returnUrl=%2fkids-and-teens%2fapparel%2fgirls%2ftrousers-and-shirts%2fan9400-%25D8%25B4%25D9%2584%25D9%2588%25D8%25A7%25D8%25B1-zippy"
                                           title="افزودن به لیست علاقه‌مندی‌ها"><i class="icon-heart"></i></a>

                                        <div class=" grid productservices">
                                            <div class="column">
                                                <span class=" icon freedelivery"></span>
                                                <span class="">تحویل رایگان سفارش‌های بالای ۲۰۰ هزار تومان</span>
                                            </div>
                                            <div class="column">
                                                <span class="icon freereturn"></span>
                                                <span class="">بازگشت رایگان، به هر دلیلی با مراجعه به در منزل شما</span>
                                            </div>
                                            <div class="column">
                                                <span class="icon returnperiod"></span>
                                                <span class="">هفت روز فرصت بازگشت</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}

                        </div>

                        <div class="details link">
                            <div class="ac active">
                                <h2 class="ac-title">توضیحات</h2>
                                <div class="ac-detail ">
                                    <div>
                                        <div>
                                            {{ product.description |safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="ac">
                                <h3 class="ac-title">ویژگی‌های کالا</h3>
                                <div class="ac-detail">
                                    {{ product.detail |safe }}

                                </div>
                            </section>

                        </div>


                        <section class="sharing">
                            <h6>این محصول را با دوستان خود به اشتراک بگذارید.</h6>

                            <a href="https://telegram.me/share/url?url=https%3a%2f%2fwww.modiseh.com%2fan9400-%25d8%25b4%25d9%2584%25d9%2588%25d8%25a7%25d8%25b1-zippy"
                               target="_blank" rel="nofollow"
                               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                    class="icon-telegram"></i></a>
                            <a href="https://plus.google.com/share?url={https://www.modiseh.com/an9400-%d8%b4%d9%84%d9%88%d8%a7%d8%b1-zippy}"
                               target="_blank" rel="nofollow"
                               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                    class="icon-google-with-circle"></i></a>
                            <a href="http://pinterest.com/pin/create/button/?url=https%3a%2f%2fwww.modiseh.com%2fan9400-%25d8%25b4%25d9%2584%25d9%2588%25d8%25a7%25d8%25b1-zippy&amp;media=https%3a%2f%2fwww.modiseh.com%2fcontent%2ffiles%2ficons%2fno-image-medium.jpg&amp;description=%e2%80%8b%d8%b4%d9%84%d9%88%d8%a7%d8%b1%20%d8%af%d8%ae%d8%aa%d8%b1%d8%a7%d9%86%d9%87%20%d8%ac%db%8c%d9%86%20%da%86%d8%b3%d8%a8%d8%a7%d9%86%20%d8%b3%d8%b1%d9%85%d9%87%20%d8%a7%db%8c%20Zippy"
                               target="_blank" rel="nofollow"
                               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                    class="icon-pinterest-with-circle"></i></a>
                            <a href="http://www.facebook.com/sharer.php?u=https%3a%2f%2fwww.modiseh.com%2fan9400-%25d8%25b4%25d9%2584%25d9%2588%25d8%25a7%25d8%25b1-zippy&amp;t=%e2%80%8b%d8%b4%d9%84%d9%88%d8%a7%d8%b1%20%d8%af%d8%ae%d8%aa%d8%b1%d8%a7%d9%86%d9%87%20%d8%ac%db%8c%d9%86%20%da%86%d8%b3%d8%a8%d8%a7%d9%86%20%d8%b3%d8%b1%d9%85%d9%87%20%d8%a7%db%8c%20Zippy"
                               target="_blank" rel="nofollow"
                               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                    class="icon-facebook-with-circle"></i></a>
                            <a href="https://twitter.com/share?url=https%3a%2f%2fwww.modiseh.com%2fan9400-%25d8%25b4%25d9%2584%25d9%2588%25d8%25a7%25d8%25b1-zippy&amp;text=%e2%80%8b%d8%b4%d9%84%d9%88%d8%a7%d8%b1%20%d8%af%d8%ae%d8%aa%d8%b1%d8%a7%d9%86%d9%87%20%d8%ac%db%8c%d9%86%20%da%86%d8%b3%d8%a8%d8%a7%d9%86%20%d8%b3%d8%b1%d9%85%d9%87%20%d8%a7%db%8c%20Zippy"
                               target="_blank" rel="nofollow"
                               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                    class="icon-twitter-with-circle"></i></a>
                        </section>


                    </div>

                </article>

                {% if same_products|length > 0 %}

                    <section class="products lazy" itemprop="related-products">
                        <div class="title-wrap">
                            <h2 class="title">کالاهای مشابه</h2>
                        </div>
                        {% for same_product in same_products %}
                                <article class="item">
                                    <a href="{% url 'product:product_details' same_product.id same_product.slug %}"
                                       data-product-url>
                                        <div class="cover">
                                            <figure>
                                                <img src="{{ same_product.image.url }}"
                                                     title="{{ same_product.title }}"
                                                     alt="{{ same_product.title }}"/>

                                                <img src="{{ same_product.image.url }}"
                                                     title="{{ same_product.title }}"
                                                     alt="{{ same_product.title }}"/>

                                                {#                                        <figcaption class="size">#}
                                                {#                                            <span>3 تا 4 سال</span>#}
                                                {#                                            <span class="not-available">9 تا 10 سا</span>#}
                                                {#                                            <span>4 تا 5 سال</span>#}
                                                {#                                            <span class="not-available">7 تا 8 سال</span>#}
                                                {#                                            <span>5 تا 6 سال</span>#}
                                                {#                                            <span class="not-available">2 تا 3 سال</span>#}
                                                {#                                            <span class="not-available">11 تا 12 س</span>#}
                                                {#                                            <span class="not-available">6 تا 7 سال</span>#}
                                                {#                                            <span>13 تا 14 س</span>#}
                                                {#                                        </figcaption>#}
                                            </figure>
                                            <p class="discount">42</p>
                                        </div>
                                        <div class="content">
                                            <h3>{{ same_product.title }}</h3>
                                            <div class="price" itemprop="offers" itemscope
                                                 itemtype="http://schema.org/Offer">
                                                <s>{{ same_product.price | intcomma:False }}تومان</s>
                                                <p>{{ same_product.price | intcomma:False }}تومان</p>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                        {% endfor %}


                    </section>
                {% endif %}


            </div>
            <br>
            <div class="ac active">
                <h3 class="ac-title">دیدگاه ها<i class="icon-"></i>
                </h3>
                <div class="ac-detail">

                    {% render_comments product request %}

                    {% include_bootstrap %}
                </div>
            </div>

        </div>


        <meta itemprop="category" content="Main &gt; پوشاک &gt; لباس &gt; Pants, shorts and legging"/>
        <meta itemprop="category" content="Specialproducts51 &gt; taksize5"/>
        <meta itemprop="category" content="New category &gt; ordibehesht-1"/>
        <meta itemprop="category" content="Mixandmatch &gt; M item-Cons item"/>
        <meta itemprop="category" content="Mixandmatch &gt; M item-Cons item2"/>
        <meta itemprop="category" content="Summer-3"/>
        <meta itemprop="category" content="Summer-5"/>
        <meta itemprop="category" content="vip50"/>
        <meta itemprop="category" content="Mixandmatch &gt; TM5-30"/>
        <meta itemprop="category" content="DELTANGI20"/>
        <meta itemprop="category" content="Mixandmatch &gt; 1-2.50"/>
        <meta itemprop="category" content="Mixandmatch &gt; Blackf99"/>


        <div id="loadingIndicator" class="loading-indicator main-loading">
            <div class="centerAlign">
                <img src="../../../../content/files/icons/progress-indicator.gif" alt="بارگذاری"/>
                <p>بارگذاری</p>
            </div>

        </div>


    </main>
{% endblock %}


