{% extends "base.html" %}
{% block title %} تماس با ما-{{ info.title }}{% endblock %}
{% block description %} {{ info.description }}{% endblock %}
{% block keywords %} {{ info.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}
{% load crispy_forms_tags %}

{% block body %}
    <main class="main">

        <div class="page">
            <div class="title-wrap">
                <h1 class="title">تماس با ما</h1>
            </div>

            <div class="container row" id="contactUsPage">

                <div class="col-sm-8">
                    {#                    {{ setting.contact | safe }}#}

                </div>
                <div class="column">
                    <section>
                        <h4>برای ارسال، ‌از فرم زیر استفاده فرمایید:</h4>

                        <form class="grid" id="contactus" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div>

                                {{ form|crispy }}
                                <div class="right">
                                    <input  type="submit" value="ارسال پیام">

                                </div>
                            </div>

                        </form>
                    </section>

                </div>

            </div>

        </div>


{#        <div id="loadingIndicator" class="loading-indicator main-loading">#}
{#            <div class="centerAlign">#}
{#                <img src="/content/files/icons/progress-indicator.gif" alt="بارگذاری">#}
{#                <p>بارگذاری</p>#}
{#            </div>#}
{##}
{#        </div>#}
        <section id="newsletter">


        </section>

    </main>
{% endblock %}


