{% load static %}

<!-- Footer -->

<footer id="footer">
    <div class="container">
        <div class="grid">
            <section class="enamad">

                <div><a href="index.html"><img src="{{ info.icon.url }}"
                                               alt="{{ info.description }}"></a></div>
                <div class="column eNamad">
                    <img id="drftrgvlhwlahwlabrgw" style="cursor:pointer"
                         onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=15446&amp;p=nbpdyncrodshodshhwmb", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")'
                         alt="نماد اعتماد الکترونیک" src="{% static '' %}images/content/enamad.png"/>
                    <img src="{% static '' %}images/content/vbu.png" alt=""
                         onclick="window.open('#link', 'Popup','toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30')"
                         style="cursor:pointer">
                    <img id='jxlzapfuwlaojxlz' style='cursor:pointer'
                         onclick='window.open("#samandehi link", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'
                         alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=1541&amp;p=nbpdujynshwlnbpd'/>

                </div>

            </section>
            <!--s.nasr 20201010  <section class="link">
<h6>مدیـســـه</h6>

<ul class="c1-2" >
</ul>

<ul class="c1-2" >
</ul>


 </section> -->
            <section class="contactus">
                <h6>با ما در تماس باشید</h6>
                <ul>
                    <li><i class="icon-phone_receiver2"></i><a rel="nofollow"
                                                               href="tel:{{ info.phone2 }}">{{ info.phone2 }}_{{ info.phone }}</a>
                    </li>
                    <li><i class="icon-mail"></i><a rel="nofollow"
                                                    href="mailto:{{ info.email }}">{{ info.email }}</a></li>
                    <li><i class="icon-location_pin"></i>{{ info.address }}</li>
                    <li><i class="icon-mail"></i> <a href="{% url 'home:contact' %}"><u>بخش تماس با ما</u></a>
                    <li><i class="icon-information"></i> <a href="{% url 'home:aboutus' %}"><u>درباره ما</u></a>
                    </li>
                </ul>

                <div class="social">
                    <a href="{{ info.telegram }}" rel="nofollow" target="_blank"><i
                            class="icon-telegram"></i></a>
                    <a href="{{ info.instagram }}" rel="nofollow" target="_blank"><i
                            class="icon-instagram-with-circle"></i></a>
                    <a href="{{ info.facebook }}" rel="nofollow" target="_blank"><i
                            class="icon-facebook-with-circle"></i></a>
                    <a href="{{ info.aparat }}" rel="nofollow" target="_blank"><i
                            class="icon-aparat-with-circle"></i></a>
                    <a href="{{ info.youtube }}" rel="nofollow" target="_blank"><i
                            class="icon-google-with-circle"></i></a>
                    <a href="{{ info.twitter }}" rel="nofollow" target="_blank"><i
                            class="icon-twitter-with-circle"></i></a>
                </div>

            </section>
            <section class="customer-services text-justify"><h6>خدمات مشتریان</h6>
                <p>{{ info.customerservices | striptags }}</p>
                <h6>ساعت کاری</h6>
                {{ info.worktime | safe }}
            </section>
        </div>
    </div>

    <p class="copyright">
        {{ info.company }}    </p>


</footer>


<div class="scrollup"></div>


<script defer type="text/javascript"
        src="{% static 'serviceWorker.js' %}"></script>
<script defer type="text/javascript"
        src="{% static 'script/sana32f0' %}"></script>


<script src="{% static 'script/Amber/sliderousel.js' %}"></script>

<!-- End Footer -->
<!-- Go To -->

{% comment %}<a href="#header" class="goto-top scroll-link">
    <svg>
        <use xlink:href="{% static '' %}sprite.svg#icon-arrow-up"></use>
    </svg>
</a>{% endcomment %}
