{% extends "base.html" %}
{% load humanize %}
{% block title %}نتایج {{ query }}{% endblock %}
{% block description %} {{ category_data.description }}{% endblock %}
{% block keywords %} {{ category_data.keywords }}{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}

{% block body %}
    <main class="main">


        <section id="products">
            <div class="container">

                <div class="title-wrap">
                    <h1 class="title"><a href="#">Apple</a></h1>
                    <p></p>
                </div>

            </div>
            <div class="products lazy four" id="productListPage">

                <div id="filters">
                    <div class="container">
                        <div class="goodsnum">{{ products|length }} کالا</div>
                        <div class="left-column">
                            <div class="filter-type sort">
                                <button>
                                    ترتیب: جدیدترین
                                </button>
                                <div class="dropdown">
                                    <ul class="dropdown-list">
                                        <li><a href="#">محبوب
                                            ترین</a></li>
                                        <li><a href="#">جدیدترین</a></li>
                                        <li><a href="#">کمترین قیمت</a></li>
                                        <li><a href="#">بیشترین قیمت</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="four-columns ">
                                4
                            </button>
                            <button class="six-columns disabled">
                                6
                            </button>
                        </div>


                        <a href="#"
                           class="instock checkbox" rel="nofollow" title="فقط کالاهای موجود">فقط کالاهای موجود</a>
                        <div class="filter-type filtersbtn">
                            <button>فیلترها</button>
                        </div>
                        <div class="filters-wrapper slock">
                            <div class="filter-type filterprice-wrap">
                                <button>فیلتر بر اساس قیمت</button>
                                <div class="dropdown">
                                    <div class="rangeslider" id="rangeSliderE">
                                        <input id="rangeSlider" data-min="35" data-max="56599" data-from="35"
                                               data-to="56599"
                                               data-url="/apple?minprice=MINPRICEPLACEHOLDER&amp;maxprice=MAXPRICEPLACEHOLDER">
                                    </div>
                                    <div id="price-range"></div>
                                </div>
                            </div>
                            <div class="filter-type">
                                <button>نوع</button>
                                <div class="filteritem-wrap">
                                    <div class="search-box">
                                        <input type="text" class="filter-search" placeholder="جستجو">
                                    </div>
                                    <div class="dropdown">
                                        <ul class="dropdown-list">
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="گوشی موبایل">گوشی موبایل</a></li>
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="تبلت">تبلت</a></li>
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="ساعت هوشمند">ساعت هوشمند</a></li>
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="لوازم جانبی موبایل">لوازم جانبی موبایل</a></li>
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="هدفون و هدست">هدفون و هدست</a></li>
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="پخش کننده تلویزیون">پخش کننده تلویزیون</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-type">
                                <button>رنگ</button>
                                <div class="filteritem-wrap">
                                    <div class="search-box">
                                        <input type="text" class="filter-search" placeholder="جستجو">
                                    </div>
                                    <div class="dropdown">
                                        <ul class="dropdown-list">
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="طوسی">طوسی</a></li>
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="طلایی">طلایی</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-type">
                                <button>مدل</button>
                                <div class="filteritem-wrap">
                                    <div class="search-box">
                                        <input type="text" class="filter-search" placeholder="جستجو">
                                    </div>
                                    <div class="dropdown">
                                        <ul class="dropdown-list">
                                            <li>
                                                <a href="#"
                                                   rel="nofollow" title="ماکسی">ماکسی</a></li>
                                            <li><a href="#"
                                                   rel="nofollow" title="iPhone SE">iPhone SE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="container products-wrapper">


                    <style>
                        .quickAddBtn {
                            /*position: absolute;
                            top: 100%;
                            left: 35%;
                            font-size: 1.5em;*/
                            /* color: #ef5350; */
                            /* direction: ltr; */
                            /*z-index: 3;
                            backface-visibility: hidden;*/
                            /*  s.nasr 20200921     transform: translateZ(0);*/
                            /* float: right; */
                            /*        width: 30%;*/
                        }

                        .quickAddBtn .btn {
                            width: 40px;
                            height: 25px;
                            font-size: .8em;
                            padding: 0;
                            margin: 0;
                            background-color: darkgreen;
                            /*            float: right;*/
                            display: initial;
                            z-index: 3 !important;
                        }

                        .quickAddBtn .number {
                            width: 40px;
                            /*            float: left;*/
                            border: none;
                            /*            font-size: 0.6em;*/
                            z-index: 3 !important;
                        }

                        .quickAddBtn .number::-webkit-inner-spin-button {
                            opacity: 1;
                        }

                    </style>

                    {% for pr in products %}
                        <input type="hidden" id="isSupperMarket"/>
                        <article class="item" itemscope itemtype="http://schema.org/Product"
                                 data-issupermarket="False"
                                 data-tracking-data=""
                                 id="">

                            <a class="product-url"
                               href="/product/{{ pr.id }}/{{ pr.slug }}"
                               data-product-url>
                                <div class="cover">
                                    <figure>
                                        <img height="302.94" src="{{ pr.image.url }}"
                                             title="{{ pr.title }}"
                                             alt="{{ pr.title }}"/>


                                        <img src="#" data-src="/media/images/u_10202547.jpg"
                                             title="{{ pr.title }}"
                                             alt="{{ pr.title }}"/>

                                    </figure>
                                    {% if pr.amount < 1 %}
                                        <div class="sold-out">
                                            <p>نـامـوجـود</p>
                                        </div>
                                    {% endif %}
                                    {% if pr.special_price > 0 and pr.special_price < pr.price %}
                                        <p class="discount">{{ pr.calculate_discount_percent }}</p>

                                    {% endif %}
                                </div>
                            </a>
                            <a class="product-url"
                               href="/product/{{ pr.id }}/{{ pr.slug }}"
                               data-product-url>
                                <div class="content">
                                    <span class="brandname" itemprop="brand">brand</span>
                                    <h3 itemprop="name">{{ pr.title }}</h3>
                                    <div class="price" itemprop="offers" itemscope=""
                                         itemtype="http://schema.org/Offer">
                                        {% if pr.special_price > 0 and pr.special_price < pr.price %}
                                            <s>{{ pr.price | intcomma:False }} تومان
                                            </s>
                                            <p>{{ pr.special_price | intcomma:False }} تومان
                                            </p>
                                            <meta itemprop="priceCurrency" content="IRR"/>
                                            <meta itemprop="price" content="{{ pr.special_price | intcomma:False }}"/>
                                        {% else %}
                                            <p>{{ pr.price | intcomma:False }} تومان
                                                <meta itemprop="priceCurrency" content="IRR"/>
                                                <meta itemprop="price"
                                                      content="{{ pr.price | intcomma:False }}"/>
                                            </p>
                                        {% endif %}

                                    </div>
                                </div>
                            </a>
                        </article>
                    {% empty %}
                        <div class="container">
                            <p class="noresult">
                                <span class="icon"></span>
                                <br>
                                کالایی یافت نشد.
                            </p>
                        </div>
                        <div class="container products-wrapper">
                        </div>
                    {% endfor %}
                    <div class="panel-footer">
                        <div class="paging-control" data-target-id="list-of-products">
                            {% if products.has_previous %}
                                <a class=" btn small right"
                                   href="
                                           {% url 'search' %}{{ products.previous_page_number }}?q={{ query }}">
                                    نمایش 20 کالای قبل
                                </a>
                            {% endif %}

                            {% if products.has_next %}

                                <a class=" btn small left"
                                   href="
                                           {% url 'search' %}{{ products.next_page_number }}?q={{ query }}">
                                    نمایش 20 کالای بعدی
                                </a>
                            {% endif %}


                        </div>
                    </div>


                </div>
            </div>
        </section>

    </main>
{% endblock %}


