{% load static %}
<!-- Hero -->
<main class="main">
    {% if info.notices|length > 7 %}
        <div class="promotion">
            <div class="container">
                {{ info.notices| safe }}
            </div>
        </div>
    {% endif %}
    <section class="sliderousel slider">
        {% for pr in products_slider %}
            <article class="slider-cell">
                <a href="{% url 'product:product_details' pr.id pr.slug %}" target="_self">

                    <img class="sliderousel-img" data-src="{{ pr.image.url }}"
                         data-mobileSrc="{{ pr.image.url }}"
                         data-sliderousel-lazyload alt="{{ pr.title }}">
                    <div class="heading-content black center center ">
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>
</main>

